<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dynamic</key>
	<array>
		<dict>
			<key>comment</key>
			<array/>
			<key>comment_num</key>
			<integer>0</integer>
			<key>content</key>
			<string>下雨记得带</string>
			<key>did</key>
			<string>587b9f1d98b93_7708124</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/86/e6/fcd53c161e0433b3ca20c3b95f33c2da.jpg</string>
			<key>img_size</key>
			<string>900x1200</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string>山东省</string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>replace_content</key>
			<string>下雨记得带</string>
			<key>send_time</key>
			<string>2017-01-16 00:11:09</string>
			<key>type</key>
			<string>2</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>674e49395c5dfe24</string>
				<key>birthday</key>
				<string>1989-10-12</string>
				<key>city</key>
				<string>盘锦</string>
				<key>is_auth</key>
				<string>1</string>
				<key>level</key>
				<integer>0</integer>
				<key>nickname</key>
				<string>😻猫咪、喵～😽</string>
				<key>sex</key>
				<string>0</string>
				<key>uid</key>
				<string>7708124</string>
			</dict>
		</dict>
		<dict>
			<key>comment</key>
			<array/>
			<key>comment_num</key>
			<integer>0</integer>
			<key>content</key>
			<string>新鲜感永远只是一时
与人相处到最后你会发现其实相差无几
而那些真诚待你又愿意体谅你的人
才更值得珍惜 ​​​</string>
			<key>did</key>
			<string>587b635b4de20_2727478</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/30/61/ffe9a4db0853cb3ffd83524e770e03ca.jpg,http://images.himoca.com/dynamic/30/61/842ebb52ac92130cb38cabf1e9df52ae.jpg</string>
			<key>img_size</key>
			<string>900x1200,900x1200</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string></string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>replace_content</key>
			<string>新鲜感永远只是一时
与人相处到最后你会发现其实相差无几
而那些真诚待你又愿意体谅你的人
才更值得珍惜 ​​​</string>
			<key>send_time</key>
			<string>2017-01-15 19:56:11</string>
			<key>type</key>
			<string>2</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>2accb9d941507920</string>
				<key>birthday</key>
				<string>1917-10-02</string>
				<key>city</key>
				<string>中国</string>
				<key>is_auth</key>
				<string>1</string>
				<key>level</key>
				<string>1</string>
				<key>nickname</key>
				<string>ʚ◡̈⃝ɞ悬❣崖</string>
				<key>sex</key>
				<string>0</string>
				<key>uid</key>
				<string>2727478</string>
			</dict>
		</dict>
		<dict>
			<key>comment</key>
			<array/>
			<key>comment_num</key>
			<integer>0</integer>
			<key>content</key>
			<string>给你个人生建议
喜欢我😏</string>
			<key>did</key>
			<string>5879f882361c8_2727478</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/30/61/508d3c348c9dd86cedc3f31c07ce2e53.jpg,http://images.himoca.com/dynamic/30/61/18c0544fed0c0dc35fd1bb6289cebab9.jpg</string>
			<key>img_size</key>
			<string>900x1200,900x1200</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string></string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>replace_content</key>
			<string>给你个人生建议
喜欢我😏</string>
			<key>send_time</key>
			<string>2017-01-14 18:08:02</string>
			<key>type</key>
			<string>2</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>2accb9d941507920</string>
				<key>birthday</key>
				<string>1917-10-02</string>
				<key>city</key>
				<string>中国</string>
				<key>is_auth</key>
				<string>1</string>
				<key>level</key>
				<string>1</string>
				<key>nickname</key>
				<string>ʚ◡̈⃝ɞ悬❣崖</string>
				<key>sex</key>
				<string>0</string>
				<key>uid</key>
				<string>2727478</string>
			</dict>
		</dict>
		<dict>
			<key>comment</key>
			<array/>
			<key>comment_num</key>
			<integer>0</integer>
			<key>content</key>
			<string></string>
			<key>did</key>
			<string>5876feb765e89_7836571</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/db/77/022b91a09cdd04cb929d5cec13955fc2.jpg</string>
			<key>img_size</key>
			<string>900x1200</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string></string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>replace_content</key>
			<string></string>
			<key>send_time</key>
			<string>2017-01-12 11:57:43</string>
			<key>type</key>
			<string>2</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>e615b47d3e5f1b26</string>
				<key>birthday</key>
				<string>1980-01-01</string>
				<key>city</key>
				<string>中国</string>
				<key>is_auth</key>
				<string>0</string>
				<key>level</key>
				<integer>0</integer>
				<key>nickname</key>
				<string>哎呦哈哈不错</string>
				<key>sex</key>
				<string>1</string>
				<key>uid</key>
				<string>7836571</string>
			</dict>
		</dict>
		<dict>
			<key>comment</key>
			<array/>
			<key>comment_num</key>
			<integer>0</integer>
			<key>content</key>
			<string></string>
			<key>did</key>
			<string>5876feab665d0_7836571</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/db/77/fc4fd27b86477c6e2eb21750e33ab4a0.jpg</string>
			<key>img_size</key>
			<string>720x752</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string>北京市</string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>replace_content</key>
			<string></string>
			<key>send_time</key>
			<string>2017-01-12 11:57:31</string>
			<key>type</key>
			<string>2</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>e615b47d3e5f1b26</string>
				<key>birthday</key>
				<string>1980-01-01</string>
				<key>city</key>
				<string>中国</string>
				<key>is_auth</key>
				<string>0</string>
				<key>level</key>
				<integer>0</integer>
				<key>nickname</key>
				<string>哎呦哈哈不错</string>
				<key>sex</key>
				<string>1</string>
				<key>uid</key>
				<string>7836571</string>
			</dict>
		</dict>
		<dict>
			<key>comment</key>
			<array/>
			<key>comment_num</key>
			<integer>0</integer>
			<key>content</key>
			<string>来啊快活啊</string>
			<key>did</key>
			<string>5874cd26b513c_7020596</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/96/6c/cf06f3848280841cf1b4316b8e2a55e0.jpg</string>
			<key>img_size</key>
			<string>600x374</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string>河南省</string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>replace_content</key>
			<string>来啊快活啊</string>
			<key>send_time</key>
			<string>2017-01-10 20:01:42</string>
			<key>type</key>
			<string>2</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>5ffba949fbb22f87</string>
				<key>birthday</key>
				<string>1921-09-13</string>
				<key>city</key>
				<string>许昌</string>
				<key>is_auth</key>
				<string>1</string>
				<key>level</key>
				<string>-1</string>
				<key>nickname</key>
				<string>不要活在梦里</string>
				<key>sex</key>
				<string>0</string>
				<key>uid</key>
				<string>7020596</string>
			</dict>
		</dict>
		<dict>
			<key>comment</key>
			<array>
				<array>
					<dict>
						<key>avatar</key>
						<string>a610bfec7f036505</string>
						<key>color</key>
						<string>2</string>
						<key>content</key>
						<string>/flower/</string>
						<key>create_time</key>
						<string>2017-01-10 17:46:55</string>
						<key>did</key>
						<string>5874a345a0f5e_7836571</string>
						<key>giftstatus</key>
						<string>3</string>
						<key>id</key>
						<string>212583</string>
						<key>is_auth</key>
						<string>0</string>
						<key>level</key>
						<string>-1</string>
						<key>nickname</key>
						<string>玫瑰花瓣</string>
						<key>num</key>
						<string>1</string>
						<key>to_nickname</key>
						<string>哎呦哈哈不错</string>
						<key>to_uid</key>
						<string>7836571</string>
						<key>type</key>
						<string>2</string>
						<key>uid</key>
						<string>3022450</string>
					</dict>
				</array>
			</array>
			<key>comment_num</key>
			<integer>1</integer>
			<key>content</key>
			<string></string>
			<key>did</key>
			<string>5874a345a0f5e_7836571</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/db/77/444c78b69888d2dd80c652868fd5fe83.jpg</string>
			<key>img_size</key>
			<string>380x314</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string>北京市</string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>replace_content</key>
			<string></string>
			<key>send_time</key>
			<string>2017-01-10 17:03:01</string>
			<key>type</key>
			<string>2</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>e615b47d3e5f1b26</string>
				<key>birthday</key>
				<string>1980-01-01</string>
				<key>city</key>
				<string>中国</string>
				<key>is_auth</key>
				<string>0</string>
				<key>level</key>
				<integer>0</integer>
				<key>nickname</key>
				<string>哎呦哈哈不错</string>
				<key>sex</key>
				<string>1</string>
				<key>uid</key>
				<string>7836571</string>
			</dict>
		</dict>
		<dict>
			<key>comment</key>
			<array/>
			<key>comment_num</key>
			<integer>0</integer>
			<key>content</key>
			<string></string>
			<key>did</key>
			<string>58748e97481e0_7836571</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/db/77/7562f2f7988c7f2a0c15a20ab42a059f.jpg</string>
			<key>img_size</key>
			<string>168x111</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string>北京市</string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>replace_content</key>
			<string></string>
			<key>send_time</key>
			<string>2017-01-10 15:34:47</string>
			<key>type</key>
			<string>2</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>e615b47d3e5f1b26</string>
				<key>birthday</key>
				<string>1980-01-01</string>
				<key>city</key>
				<string>中国</string>
				<key>is_auth</key>
				<string>0</string>
				<key>level</key>
				<integer>0</integer>
				<key>nickname</key>
				<string>哎呦哈哈不错</string>
				<key>sex</key>
				<string>1</string>
				<key>uid</key>
				<string>7836571</string>
			</dict>
		</dict>
		<dict>
			<key>comment</key>
			<array/>
			<key>comment_num</key>
			<integer>0</integer>
			<key>content</key>
			<string>一种</string>
			<key>did</key>
			<string>58748e8fd3475_7836571</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/db/77/3af4023feeaffc7234546a0afdfb78a9.jpg</string>
			<key>img_size</key>
			<string>406x468</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string>北京市</string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>replace_content</key>
			<string>一种</string>
			<key>send_time</key>
			<string>2017-01-10 15:34:39</string>
			<key>type</key>
			<string>2</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>e615b47d3e5f1b26</string>
				<key>birthday</key>
				<string>1980-01-01</string>
				<key>city</key>
				<string>中国</string>
				<key>is_auth</key>
				<string>0</string>
				<key>level</key>
				<integer>0</integer>
				<key>nickname</key>
				<string>哎呦哈哈不错</string>
				<key>sex</key>
				<string>1</string>
				<key>uid</key>
				<string>7836571</string>
			</dict>
		</dict>
		<dict>
			<key>comment</key>
			<array/>
			<key>comment_num</key>
			<integer>0</integer>
			<key>content</key>
			<string>test</string>
			<key>did</key>
			<string>58748cdf05372_7836571</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/db/77/47cae3d4050ee0ee31bf1e4c1343f532.jpg</string>
			<key>img_size</key>
			<string>452x417</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string>北京市</string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>replace_content</key>
			<string>test</string>
			<key>send_time</key>
			<string>2017-01-10 15:27:27</string>
			<key>type</key>
			<string>2</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>e615b47d3e5f1b26</string>
				<key>birthday</key>
				<string>1980-01-01</string>
				<key>city</key>
				<string>中国</string>
				<key>is_auth</key>
				<string>0</string>
				<key>level</key>
				<integer>0</integer>
				<key>nickname</key>
				<string>哎呦哈哈不错</string>
				<key>sex</key>
				<string>1</string>
				<key>uid</key>
				<string>7836571</string>
			</dict>
		</dict>
	</array>
	<key>hidden_photo_rate</key>
	<string>1</string>
	<key>is_load</key>
	<true/>
	<key>user_info</key>
	<dict>
		<key>avatar</key>
		<string>e615b47d3e5f1b26</string>
		<key>background_img</key>
		<string>307369eb6632bbd2</string>
		<key>birthday</key>
		<string>1980-01-01</string>
		<key>is_auth</key>
		<string>0</string>
		<key>level</key>
		<integer>0</integer>
		<key>nickname</key>
		<string>哎呦哈哈不错</string>
		<key>noread</key>
		<dict>
			<key>noread_avatar</key>
			<string></string>
			<key>noread_num</key>
			<integer>0</integer>
			<key>noread_uid</key>
			<string></string>
		</dict>
		<key>sex</key>
		<string>1</string>
		<key>uid</key>
		<integer>7836571</integer>
	</dict>
</dict>
</plist>
