<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dynamic</key>
	<array>
		<dict>
			<key>comment</key>
			<array/>
			<key>comment_num</key>
			<integer>0</integer>
			<key>content</key>
			<string>等待😐</string>
			<key>did</key>
			<string>583c1d22ef653_7020596</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/96/6c/cac38d406d5f3168734032f9e7e9197d.jpg,http://images.himoca.com/dynamic/96/6c/be366baf241dafba820c77cdd34b8cfa.jpg,http://images.himoca.com/dynamic/96/6c/bb3b0f9104e27e1100ded3178442aa58.jpg</string>
			<key>img_size</key>
			<string>900x1200,675x1200,675x1200</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string>河南省</string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>replace_content</key>
			<string>等待😐</string>
			<key>send_time</key>
			<string>2016-11-28 20:03:46</string>
			<key>type</key>
			<string>2</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>5ffba949fbb22f87</string>
				<key>birthday</key>
				<string>1921-09-13</string>
				<key>city</key>
				<string>许昌</string>
				<key>is_auth</key>
				<string>1</string>
				<key>level</key>
				<string>-1</string>
				<key>nickname</key>
				<string>不要活在梦里</string>
				<key>sex</key>
				<string>0</string>
				<key>uid</key>
				<string>7020596</string>
			</dict>
		</dict>
		<dict>
			<key>comment</key>
			<array/>
			<key>comment_num</key>
			<integer>0</integer>
			<key>content</key>
			<string></string>
			<key>did</key>
			<string>583c1397a1437_2727478</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/30/61/ca4db4078624830b.jpg</string>
			<key>img_size</key>
			<string>1224x1225</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string></string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>replace_content</key>
			<string></string>
			<key>send_time</key>
			<string>2016-11-28 19:23:03</string>
			<key>type</key>
			<string>2</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>2accb9d941507920</string>
				<key>birthday</key>
				<string>1917-10-02</string>
				<key>city</key>
				<string>中国</string>
				<key>is_auth</key>
				<string>1</string>
				<key>level</key>
				<string>1</string>
				<key>nickname</key>
				<string>ʚ◡̈⃝ɞ悬❣崖</string>
				<key>sex</key>
				<string>0</string>
				<key>uid</key>
				<string>2727478</string>
			</dict>
		</dict>
		<dict>
			<key>comment</key>
			<array/>
			<key>comment_num</key>
			<integer>0</integer>
			<key>content</key>
			<string>????机器人最近好猖獗啊。批量注册的时候还学会用不同的ip地址了。
很好。
很好。
很好。
你们给我等着。
我这就回家叫技术大大拿刀过来。</string>
			<key>did</key>
			<string>583be93fe181a_1000213</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/d0/1c/a43ff52835e0493bfaa1db52a2857a49.jpg</string>
			<key>img_size</key>
			<string>915x1200</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string>北京</string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>replace_content</key>
			<string>????机器人最近好猖獗啊。批量注册的时候还学会用不同的ip地址了。
很好。
很好。
很好。
你们给我等着。
我这就回家叫技术大大拿刀过来。</string>
			<key>send_time</key>
			<string>2016-11-28 16:22:24</string>
			<key>type</key>
			<string>2</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>69214130edf19a75</string>
				<key>birthday</key>
				<string>2013-10-09</string>
				<key>city</key>
				<string>北京</string>
				<key>is_auth</key>
				<string>0</string>
				<key>level</key>
				<string>1</string>
				<key>nickname</key>
				<string>摩擦小秘书</string>
				<key>sex</key>
				<string>0</string>
				<key>uid</key>
				<string>1000213</string>
			</dict>
		</dict>
		<dict>
			<key>comment</key>
			<array/>
			<key>comment_num</key>
			<integer>0</integer>
			<key>content</key>
			<string></string>
			<key>did</key>
			<string>583bd669462f9_8142923</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/6c/48/392f8d1e60dd6642.jpg</string>
			<key>img_size</key>
			<string>750x750</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string>陕西省</string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>replace_content</key>
			<string></string>
			<key>send_time</key>
			<string>2016-11-28 15:02:01</string>
			<key>type</key>
			<string>2</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>a8b26e1ac3e1e5d4</string>
				<key>birthday</key>
				<string>1995-12-27</string>
				<key>city</key>
				<string>上饶</string>
				<key>is_auth</key>
				<string>1</string>
				<key>level</key>
				<string>-1</string>
				<key>nickname</key>
				<string>我就是我</string>
				<key>sex</key>
				<string>0</string>
				<key>uid</key>
				<string>8142923</string>
			</dict>
		</dict>
		<dict>
			<key>comment</key>
			<array/>
			<key>comment_num</key>
			<integer>0</integer>
			<key>content</key>
			<string>她又冷又灰暗(´•༝•`)
但是你要又暖又明亮 ʚ◡̈⃝ɞ
莫宁~●～●～●biu~</string>
			<key>did</key>
			<string>583b7a7c30b17_2727478</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/30/61/7a88b6b58ba9bf89ae029c3633d2437e.jpg</string>
			<key>img_size</key>
			<string>640x854</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string></string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>replace_content</key>
			<string>她又冷又灰暗(´•༝•`)
但是你要又暖又明亮 ʚ◡̈⃝ɞ
莫宁~●～●～●biu~</string>
			<key>send_time</key>
			<string>2016-11-28 08:29:48</string>
			<key>type</key>
			<string>2</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>2accb9d941507920</string>
				<key>birthday</key>
				<string>1917-10-02</string>
				<key>city</key>
				<string>中国</string>
				<key>is_auth</key>
				<string>1</string>
				<key>level</key>
				<string>1</string>
				<key>nickname</key>
				<string>ʚ◡̈⃝ɞ悬❣崖</string>
				<key>sex</key>
				<string>0</string>
				<key>uid</key>
				<string>2727478</string>
			</dict>
		</dict>
		<dict>
			<key>comment</key>
			<array/>
			<key>comment_num</key>
			<integer>0</integer>
			<key>content</key>
			<string>技能：话题制造。
核心：上推，下切，平行。

聊天僵局时的案例示范。
男：在做什么啊？
女：逛街。
1，上推：刚才不是睡觉呢？这么快溜出去啦？🌚
2，平行：你作业写完了吗？令堂允许小淘气出去放风啦？😈
3，下切：啃着鸡腿，吐沫横飞地跟大妈砍价呢？💁
（语气一定要俏皮幽默！）</string>
			<key>did</key>
			<string>58380b223c2e7_1000213</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/d0/1c/a60b0ead04906028da7a30bca5b5f19f.jpg</string>
			<key>img_size</key>
			<string>349x351</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string>北京</string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>replace_content</key>
			<string>技能：话题制造。
核心：上推，下切，平行。

聊天僵局时的案例示范。
男：在做什么啊？
女：逛街。
1，上推：刚才不是睡觉呢？这么快溜出去啦？🌚
2，平行：你作业写完了吗？令堂允许小淘气出去放风啦？😈
3，下切：啃着鸡腿，吐沫横飞地跟大妈砍价呢？💁
（语气一定要俏皮幽默！）</string>
			<key>send_time</key>
			<string>2016-11-25 17:57:54</string>
			<key>type</key>
			<string>2</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>69214130edf19a75</string>
				<key>birthday</key>
				<string>2013-10-09</string>
				<key>city</key>
				<string>北京</string>
				<key>is_auth</key>
				<string>0</string>
				<key>level</key>
				<string>1</string>
				<key>nickname</key>
				<string>摩擦小秘书</string>
				<key>sex</key>
				<string>0</string>
				<key>uid</key>
				<string>1000213</string>
			</dict>
		</dict>
		<dict>
			<key>comment</key>
			<array/>
			<key>comment_num</key>
			<integer>0</integer>
			<key>content</key>
			<string>shall we talk</string>
			<key>did</key>
			<string>583580a4b371e_2727478</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/30/61/979ed23843c11eae97040185f1b63d52.jpg</string>
			<key>img_size</key>
			<string>675x1200</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string></string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>replace_content</key>
			<string>shall we talk</string>
			<key>send_time</key>
			<string>2016-11-23 19:42:28</string>
			<key>type</key>
			<string>2</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>2accb9d941507920</string>
				<key>birthday</key>
				<string>1917-10-02</string>
				<key>city</key>
				<string>中国</string>
				<key>is_auth</key>
				<string>1</string>
				<key>level</key>
				<string>1</string>
				<key>nickname</key>
				<string>ʚ◡̈⃝ɞ悬❣崖</string>
				<key>sex</key>
				<string>0</string>
				<key>uid</key>
				<string>2727478</string>
			</dict>
		</dict>
		<dict>
			<key>comment</key>
			<array/>
			<key>comment_num</key>
			<integer>0</integer>
			<key>content</key>
			<string>各位童鞋，（敲黑板），今天我们复习一下，“如何在撩妹时，不被封号”。

嗯，单纯靠私信发一些自拍的器官图，是不会撩到妹子的。毕竟18cm在黄种人群里，很少见。强行发黄图的结果，是吓坏每一个跟你聊的妹子，被举报之后，必封，绝不姑息。

但如果发了之后，对方不举报你，我会夸你的。😈</string>
			<key>did</key>
			<string>583579f5b037a_1000213</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/d0/1c/a3aed6f13519697ea055891a9af747e9.jpg,http://images.himoca.com/dynamic/d0/1c/14952a6cfc7ccdb27f329495d61fedd2.jpg</string>
			<key>img_size</key>
			<string>721x1200,674x1200</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string>北京</string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>replace_content</key>
			<string>各位童鞋，（敲黑板），今天我们复习一下，“如**撩妹时，不被封号”。

嗯，单纯靠私信发一些自拍的器官图，是不会撩到妹子的。毕竟18cm在黄种人群里，很少见。强行发黄图的结果，是吓坏每一个跟你聊的妹子，被举报之后，必封，绝不姑息。

但如果发了之后，对方不举报你，我会夸你的。😈</string>
			<key>send_time</key>
			<string>2016-11-23 19:13:57</string>
			<key>type</key>
			<string>2</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>69214130edf19a75</string>
				<key>birthday</key>
				<string>2013-10-09</string>
				<key>city</key>
				<string>北京</string>
				<key>is_auth</key>
				<string>0</string>
				<key>level</key>
				<string>1</string>
				<key>nickname</key>
				<string>摩擦小秘书</string>
				<key>sex</key>
				<string>0</string>
				<key>uid</key>
				<string>1000213</string>
			</dict>
		</dict>
		<dict>
			<key>comment</key>
			<array/>
			<key>comment_num</key>
			<integer>0</integer>
			<key>content</key>
			<string></string>
			<key>did</key>
			<string>583571d5283ed_7862271</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/79/dc/06f0c2d0e336f1a4ad18a7bfa88473be.jpg</string>
			<key>img_size</key>
			<string>1200x756</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string>北京市</string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>replace_content</key>
			<string></string>
			<key>send_time</key>
			<string>2016-11-23 18:39:17</string>
			<key>type</key>
			<string>2</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>29e18c11cf21ecf4</string>
				<key>birthday</key>
				<string>1993-03-11</string>
				<key>city</key>
				<string>中国</string>
				<key>is_auth</key>
				<string>0</string>
				<key>level</key>
				<string>-1</string>
				<key>nickname</key>
				<string>静谧</string>
				<key>sex</key>
				<string>0</string>
				<key>uid</key>
				<string>7862271</string>
			</dict>
		</dict>
		<dict>
			<key>comment</key>
			<array/>
			<key>comment_num</key>
			<integer>0</integer>
			<key>content</key>
			<string>冷吗</string>
			<key>did</key>
			<string>583446b714a39_7020596</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/96/6c/2fe0803d34038175cb2371bc4c611e0f.jpg,http://images.himoca.com/dynamic/96/6c/949c499c19153e1ed78789dd768fb1c1.jpg,http://images.himoca.com/dynamic/96/6c/3cd42f76f1d6df9e84295672987c3562.jpg</string>
			<key>img_size</key>
			<string>675x1200,675x1200,675x1200</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string>河南省</string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>replace_content</key>
			<string>冷吗</string>
			<key>send_time</key>
			<string>2016-11-22 21:23:03</string>
			<key>type</key>
			<string>2</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>5ffba949fbb22f87</string>
				<key>birthday</key>
				<string>1921-09-13</string>
				<key>city</key>
				<string>许昌</string>
				<key>is_auth</key>
				<string>1</string>
				<key>level</key>
				<string>-1</string>
				<key>nickname</key>
				<string>不要活在梦里</string>
				<key>sex</key>
				<string>0</string>
				<key>uid</key>
				<string>7020596</string>
			</dict>
		</dict>
	</array>
	<key>hidden_photo_rate</key>
	<string>1</string>
	<key>is_load</key>
	<true/>
	<key>user_info</key>
	<dict>
		<key>avatar</key>
		<string>e615b47d3e5f1b26</string>
		<key>background_img</key>
		<string>307369eb6632bbd2</string>
		<key>birthday</key>
		<string>1980-01-01</string>
		<key>is_auth</key>
		<string>0</string>
		<key>level</key>
		<integer>0</integer>
		<key>nickname</key>
		<string>哎呦哈哈不错</string>
		<key>noread</key>
		<dict>
			<key>noread_avatar</key>
			<string></string>
			<key>noread_num</key>
			<integer>0</integer>
			<key>noread_uid</key>
			<string></string>
		</dict>
		<key>sex</key>
		<string>1</string>
		<key>uid</key>
		<integer>7836571</integer>
	</dict>
</dict>
</plist>
