<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dynamic</key>
	<array>
		<dict>
			<key>comment</key>
			<array/>
			<key>comment_num</key>
			<integer>0</integer>
			<key>content</key>
			<string>在北京时间19：20分左右，摩擦服务器遭到了不法分子的攻击，导致当时网络连接失败。

重启应用或者退出账号重新登陆就好了，望周知。</string>
			<key>did</key>
			<string>586b9dbf3b5c1_1000213</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/d0/1c/5985ed8d6e047dc6b8a3f1ac4e787b29.jpg</string>
			<key>img_size</key>
			<string>452x452</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string>北京</string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>replace_content</key>
			<string>在北京时间19：20分左右，摩擦服务器遭到了不法分子的攻击，导致当时网络连接失败。

重启应用或者退出账号重新登陆就好了，望周知。</string>
			<key>send_time</key>
			<string>2017-01-03 20:49:03</string>
			<key>type</key>
			<string>2</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>69214130edf19a75</string>
				<key>birthday</key>
				<string>2013-10-09</string>
				<key>city</key>
				<string>北京</string>
				<key>is_auth</key>
				<string>0</string>
				<key>level</key>
				<string>1</string>
				<key>nickname</key>
				<string>摩擦小秘书</string>
				<key>sex</key>
				<string>0</string>
				<key>uid</key>
				<string>1000213</string>
			</dict>
		</dict>
		<dict>
			<key>comment</key>
			<array/>
			<key>comment_num</key>
			<integer>0</integer>
			<key>content</key>
			<string>居然被牵挂了，受宠若惊啊！！！😂😂😂</string>
			<key>did</key>
			<string>5869f84a55e1e_2727478</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/30/61/f3e13a633b590fdfe2256e209c55c3fa.jpg</string>
			<key>img_size</key>
			<string>992x724</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string></string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>replace_content</key>
			<string>居然被牵挂了，受宠若惊啊！！！😂😂😂</string>
			<key>send_time</key>
			<string>2017-01-02 14:50:50</string>
			<key>type</key>
			<string>2</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>2accb9d941507920</string>
				<key>birthday</key>
				<string>1917-10-02</string>
				<key>city</key>
				<string>中国</string>
				<key>is_auth</key>
				<string>1</string>
				<key>level</key>
				<string>1</string>
				<key>nickname</key>
				<string>ʚ◡̈⃝ɞ悬❣崖</string>
				<key>sex</key>
				<string>0</string>
				<key>uid</key>
				<string>2727478</string>
			</dict>
		</dict>
		<dict>
			<key>comment</key>
			<array/>
			<key>comment_num</key>
			<integer>0</integer>
			<key>content</key>
			<string>2017.01.01快乐</string>
			<key>did</key>
			<string>5868fbed5a59e_7020596</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/96/6c/7171c010cb6dbd4080a4b5736077f1ee.jpg,http://images.himoca.com/dynamic/96/6c/c6907b4b135a37f8e98858d6481848ee.jpg</string>
			<key>img_size</key>
			<string>1000x1000,870x1200</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string>河南省</string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>replace_content</key>
			<string>2017.01.01快乐</string>
			<key>send_time</key>
			<string>2017-01-01 20:54:05</string>
			<key>type</key>
			<string>2</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>5ffba949fbb22f87</string>
				<key>birthday</key>
				<string>1921-09-13</string>
				<key>city</key>
				<string>许昌</string>
				<key>is_auth</key>
				<string>1</string>
				<key>level</key>
				<string>-1</string>
				<key>nickname</key>
				<string>不要活在梦里</string>
				<key>sex</key>
				<string>0</string>
				<key>uid</key>
				<string>7020596</string>
			</dict>
		</dict>
		<dict>
			<key>comment</key>
			<array/>
			<key>comment_num</key>
			<integer>0</integer>
			<key>content</key>
			<string>一百年前 你不是你 我不是我
悲哀是真的 泪是假的 本来没因果
一百年后 没有你 也没有我 </string>
			<key>did</key>
			<string>58672700b8f97_2727478</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/30/61/cdb5f4e2aa5a2d1c35b8b45837e32cac.jpg,http://images.himoca.com/dynamic/30/61/fe13affaa115f81ecf8fc931501d2a70.jpg,http://images.himoca.com/dynamic/30/61/d61a596df6299ae43cdffb31d40bebd7.jpg</string>
			<key>img_size</key>
			<string>1200x1160,1200x675,1200x675</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string></string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>replace_content</key>
			<string>一百年前 你不是你 我不是我
悲哀是真的 泪是假的 本来没因果
一百年后 没有你 也没有我 </string>
			<key>send_time</key>
			<string>2016-12-31 11:33:20</string>
			<key>type</key>
			<string>2</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>2accb9d941507920</string>
				<key>birthday</key>
				<string>1917-10-02</string>
				<key>city</key>
				<string>中国</string>
				<key>is_auth</key>
				<string>1</string>
				<key>level</key>
				<string>1</string>
				<key>nickname</key>
				<string>ʚ◡̈⃝ɞ悬❣崖</string>
				<key>sex</key>
				<string>0</string>
				<key>uid</key>
				<string>2727478</string>
			</dict>
		</dict>
		<dict>
			<key>comment</key>
			<array/>
			<key>comment_num</key>
			<integer>0</integer>
			<key>content</key>
			<string>有宝宝反映首充链接不见勒！

首充地址：http://api.himoca.com/activity/lottery-mid-autumn-after/
</string>
			<key>did</key>
			<string>5865df7d3508f_1000213</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/d0/1c/b6beda1acedc09f68d21265f8eb9f11f.jpg</string>
			<key>img_size</key>
			<string>445x441</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string>北京</string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>replace_content</key>
			<string>有宝宝反映首充链接不见勒！

首充地址：http://api.himoca.com/activity/lottery-mid-autumn-after/
</string>
			<key>send_time</key>
			<string>2016-12-30 12:15:57</string>
			<key>type</key>
			<string>2</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>69214130edf19a75</string>
				<key>birthday</key>
				<string>2013-10-09</string>
				<key>city</key>
				<string>北京</string>
				<key>is_auth</key>
				<string>0</string>
				<key>level</key>
				<string>1</string>
				<key>nickname</key>
				<string>摩擦小秘书</string>
				<key>sex</key>
				<string>0</string>
				<key>uid</key>
				<string>1000213</string>
			</dict>
		</dict>
		<dict>
			<key>comment</key>
			<array/>
			<key>comment_num</key>
			<integer>0</integer>
			<key>content</key>
			<string>所有失去的都会以另一种方式归来</string>
			<key>did</key>
			<string>586538cdd4c69_7020596</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/96/6c/1fc514b7c37a8944983979478d514581.jpg,http://images.himoca.com/dynamic/96/6c/7a9d0e058bb5dcc7a79f1e2535980018.jpg</string>
			<key>img_size</key>
			<string>894x1200,720x979</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string>河南省</string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>replace_content</key>
			<string>所有失去的都会以另一种方式归来</string>
			<key>send_time</key>
			<string>2016-12-30 00:24:45</string>
			<key>type</key>
			<string>2</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>5ffba949fbb22f87</string>
				<key>birthday</key>
				<string>1921-09-13</string>
				<key>city</key>
				<string>许昌</string>
				<key>is_auth</key>
				<string>1</string>
				<key>level</key>
				<string>-1</string>
				<key>nickname</key>
				<string>不要活在梦里</string>
				<key>sex</key>
				<string>0</string>
				<key>uid</key>
				<string>7020596</string>
			</dict>
		</dict>
		<dict>
			<key>comment</key>
			<array/>
			<key>comment_num</key>
			<integer>0</integer>
			<key>content</key>
			<string>今天怎么不开心😮</string>
			<key>did</key>
			<string>5864da59493c0_7020596</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/96/6c/4d67a067a2a661298d42c4be184f3dcc.jpg,http://images.himoca.com/dynamic/96/6c/f384a2f1466aaef311b4bd41723ea869.jpg</string>
			<key>img_size</key>
			<string>674x1200,674x1200</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string>河南省</string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>replace_content</key>
			<string>今天怎么不开心😮</string>
			<key>send_time</key>
			<string>2016-12-29 17:41:45</string>
			<key>type</key>
			<string>2</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>5ffba949fbb22f87</string>
				<key>birthday</key>
				<string>1921-09-13</string>
				<key>city</key>
				<string>许昌</string>
				<key>is_auth</key>
				<string>1</string>
				<key>level</key>
				<string>-1</string>
				<key>nickname</key>
				<string>不要活在梦里</string>
				<key>sex</key>
				<string>0</string>
				<key>uid</key>
				<string>7020596</string>
			</dict>
		</dict>
		<dict>
			<key>comment</key>
			<array/>
			<key>comment_num</key>
			<integer>0</integer>
			<key>content</key>
			<string>报告老师，我已经尽力了。</string>
			<key>did</key>
			<string>58628afa45313_4237844</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/99/a3/30c730e6604f84db5f5e2d1119037d93.jpg</string>
			<key>img_size</key>
			<string>899x1200</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string>浙江温州</string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>replace_content</key>
			<string>报告老师，我已经尽力了。</string>
			<key>send_time</key>
			<string>2016-12-27 23:38:34</string>
			<key>type</key>
			<string>2</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>f1514ff1f02e6363</string>
				<key>birthday</key>
				<string>1994-11-07</string>
				<key>city</key>
				<string>中国</string>
				<key>is_auth</key>
				<string>0</string>
				<key>level</key>
				<integer>0</integer>
				<key>nickname</key>
				<string>你看见过我的小熊吗</string>
				<key>sex</key>
				<string>0</string>
				<key>uid</key>
				<string>4237844</string>
			</dict>
		</dict>
		<dict>
			<key>comment</key>
			<array/>
			<key>comment_num</key>
			<integer>0</integer>
			<key>content</key>
			<string>我真的不想进军口红界😂</string>
			<key>did</key>
			<string>58610a262fc3d_7020596</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/96/6c/c6b66ec38755633bf19686e3fcc3519c.jpg,http://images.himoca.com/dynamic/96/6c/16adbf3a6c808ee286620055b53abe5e.jpg</string>
			<key>img_size</key>
			<string>900x1200,900x1200</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string>河南省</string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>replace_content</key>
			<string>我真的不想进军口红界😂</string>
			<key>send_time</key>
			<string>2016-12-26 20:16:38</string>
			<key>type</key>
			<string>2</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>5ffba949fbb22f87</string>
				<key>birthday</key>
				<string>1921-09-13</string>
				<key>city</key>
				<string>许昌</string>
				<key>is_auth</key>
				<string>1</string>
				<key>level</key>
				<string>-1</string>
				<key>nickname</key>
				<string>不要活在梦里</string>
				<key>sex</key>
				<string>0</string>
				<key>uid</key>
				<string>7020596</string>
			</dict>
		</dict>
		<dict>
			<key>comment</key>
			<array/>
			<key>comment_num</key>
			<integer>0</integer>
			<key>content</key>
			<string>雪一片一片一片❄️</string>
			<key>did</key>
			<string>585fd7e92d357_7020596</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/96/6c/b1dfa5187c9190fc4754e865a942b211.jpg</string>
			<key>img_size</key>
			<string>1200x1200</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string>河南省</string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>replace_content</key>
			<string>雪一片一片一片❄️</string>
			<key>send_time</key>
			<string>2016-12-25 22:30:01</string>
			<key>type</key>
			<string>2</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>5ffba949fbb22f87</string>
				<key>birthday</key>
				<string>1921-09-13</string>
				<key>city</key>
				<string>许昌</string>
				<key>is_auth</key>
				<string>1</string>
				<key>level</key>
				<string>-1</string>
				<key>nickname</key>
				<string>不要活在梦里</string>
				<key>sex</key>
				<string>0</string>
				<key>uid</key>
				<string>7020596</string>
			</dict>
		</dict>
	</array>
	<key>hidden_photo_rate</key>
	<string>1</string>
	<key>is_load</key>
	<true/>
	<key>user_info</key>
	<dict>
		<key>avatar</key>
		<string>e615b47d3e5f1b26</string>
		<key>background_img</key>
		<string>307369eb6632bbd2</string>
		<key>birthday</key>
		<string>1980-01-01</string>
		<key>is_auth</key>
		<string>0</string>
		<key>level</key>
		<integer>0</integer>
		<key>nickname</key>
		<string>哎呦哈哈不错</string>
		<key>noread</key>
		<dict>
			<key>noread_avatar</key>
			<string></string>
			<key>noread_num</key>
			<integer>0</integer>
			<key>noread_uid</key>
			<string></string>
		</dict>
		<key>sex</key>
		<string>1</string>
		<key>uid</key>
		<integer>7836571</integer>
	</dict>
</dict>
</plist>
