<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dynamic</key>
	<array>
		<dict>
			<key>comment</key>
			<array/>
			<key>comment_num</key>
			<integer>0</integer>
			<key>content</key>
			<string>昨天白我一个500，今天给你浇水得一个敬业福
开心(∩_∩)</string>
			<key>did</key>
			<string>588804d02cb66_2727478</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/30/61/e2d8d83ae5692cdd9bf946738d45c84b.jpg,http://images.himoca.com/dynamic/30/61/a5d1e34b34af00d3182c6a5bc75a2fdc.jpg</string>
			<key>img_size</key>
			<string>675x1200,675x1200</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string></string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>replace_content</key>
			<string>昨天白我一个500，今天给你浇水得一个敬业福
开心(∩_∩)</string>
			<key>send_time</key>
			<string>2017-01-25 09:52:16</string>
			<key>type</key>
			<string>2</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>2accb9d941507920</string>
				<key>birthday</key>
				<string>1917-10-02</string>
				<key>city</key>
				<string>中国</string>
				<key>is_auth</key>
				<string>1</string>
				<key>level</key>
				<string>1</string>
				<key>nickname</key>
				<string>ʚ◡̈⃝ɞ悬❣崖</string>
				<key>sex</key>
				<string>0</string>
				<key>uid</key>
				<string>2727478</string>
			</dict>
		</dict>
		<dict>
			<key>comment</key>
			<array/>
			<key>comment_num</key>
			<integer>0</integer>
			<key>content</key>
			<string></string>
			<key>did</key>
			<string>5887f51eb3da4_2727478</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/30/61/2ce651e855c1420b.jpg</string>
			<key>img_size</key>
			<string>1239x1240</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string></string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>replace_content</key>
			<string></string>
			<key>send_time</key>
			<string>2017-01-25 08:45:18</string>
			<key>type</key>
			<string>2</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>2accb9d941507920</string>
				<key>birthday</key>
				<string>1917-10-02</string>
				<key>city</key>
				<string>中国</string>
				<key>is_auth</key>
				<string>1</string>
				<key>level</key>
				<string>1</string>
				<key>nickname</key>
				<string>ʚ◡̈⃝ɞ悬❣崖</string>
				<key>sex</key>
				<string>0</string>
				<key>uid</key>
				<string>2727478</string>
			</dict>
		</dict>
		<dict>
			<key>comment</key>
			<array/>
			<key>comment_num</key>
			<integer>0</integer>
			<key>content</key>
			<string>通知：

各位宝宝，由于财务阿姨回家过年了，所以即日起到2月3号之间的兑换，统一在2月4号之后开始处理。

新的一年了，小秘书在此恭祝大家财源滚滚桃花连连鸡年大吉~</string>
			<key>did</key>
			<string>5885e7d7a4a06_1000213</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/d0/1c/b1c22b27b8eef4b00f1414d4297e71c4.jpg</string>
			<key>img_size</key>
			<string>420x339</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string>北京</string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>replace_content</key>
			<string>通知：

各位宝宝，由于财务阿姨回家过年了，所以即日起到2月3号之间的兑换，统一在2月4号之后开始处理。

新的一年了，小秘书在此恭祝大家财源滚滚桃花连连鸡年大吉~</string>
			<key>send_time</key>
			<string>2017-01-23 19:24:07</string>
			<key>type</key>
			<string>2</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>69214130edf19a75</string>
				<key>birthday</key>
				<string>2013-10-09</string>
				<key>city</key>
				<string>北京</string>
				<key>is_auth</key>
				<string>0</string>
				<key>level</key>
				<string>1</string>
				<key>nickname</key>
				<string>摩擦小秘书</string>
				<key>sex</key>
				<string>0</string>
				<key>uid</key>
				<string>1000213</string>
			</dict>
		</dict>
		<dict>
			<key>comment</key>
			<array/>
			<key>comment_num</key>
			<integer>0</integer>
			<key>content</key>
			<string>总会有人比我好，但是没人能够取代我🐷</string>
			<key>did</key>
			<string>58850491bc851_7020596</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/96/6c/404fcea41d7c45497885d34d0e182409.jpg,http://images.himoca.com/dynamic/96/6c/e4efea52ad5b050976684f49a9dad1ae.jpg</string>
			<key>img_size</key>
			<string>900x1200,900x1200</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string>河南省</string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>replace_content</key>
			<string>总会有人比我好，但是没人能够取代我🐷</string>
			<key>send_time</key>
			<string>2017-01-23 03:14:25</string>
			<key>type</key>
			<string>2</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>5ffba949fbb22f87</string>
				<key>birthday</key>
				<string>1921-09-13</string>
				<key>city</key>
				<string>许昌</string>
				<key>is_auth</key>
				<string>1</string>
				<key>level</key>
				<string>-1</string>
				<key>nickname</key>
				<string>不要活在梦里</string>
				<key>sex</key>
				<string>0</string>
				<key>uid</key>
				<string>7020596</string>
			</dict>
		</dict>
		<dict>
			<key>comment</key>
			<array/>
			<key>comment_num</key>
			<integer>0</integer>
			<key>content</key>
			<string></string>
			<key>did</key>
			<string>5884afef3f491_7782100</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/98/90/cf724718a512072b.jpg</string>
			<key>img_size</key>
			<string>1239x1239</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string>山东省</string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>replace_content</key>
			<string></string>
			<key>send_time</key>
			<string>2017-01-22 21:13:19</string>
			<key>type</key>
			<string>2</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>7ae11bdb2ee53f0e</string>
				<key>birthday</key>
				<string>2006-01-01</string>
				<key>city</key>
				<string>中国</string>
				<key>is_auth</key>
				<string>1</string>
				<key>level</key>
				<string>1</string>
				<key>nickname</key>
				<string>静静</string>
				<key>sex</key>
				<string>0</string>
				<key>uid</key>
				<string>7782100</string>
			</dict>
		</dict>
		<dict>
			<key>comment</key>
			<array/>
			<key>comment_num</key>
			<integer>0</integer>
			<key>content</key>
			<string>没关系你要笑啊😃</string>
			<key>did</key>
			<string>5882444185e16_7020596</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/96/6c/4a0ff04e3781e2b05333bddfb03f5ed3.jpg,http://images.himoca.com/dynamic/96/6c/5e4e20bf2979e19f486aaf0bc0d60f2f.jpg,http://images.himoca.com/dynamic/96/6c/c0ad145c5100568d80d9277c3028f2f0.jpg</string>
			<key>img_size</key>
			<string>900x1200,900x1200,900x1200</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string>河南省</string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>replace_content</key>
			<string>没关系你要笑啊😃</string>
			<key>send_time</key>
			<string>2017-01-21 01:09:21</string>
			<key>type</key>
			<string>2</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>5ffba949fbb22f87</string>
				<key>birthday</key>
				<string>1921-09-13</string>
				<key>city</key>
				<string>许昌</string>
				<key>is_auth</key>
				<string>1</string>
				<key>level</key>
				<string>-1</string>
				<key>nickname</key>
				<string>不要活在梦里</string>
				<key>sex</key>
				<string>0</string>
				<key>uid</key>
				<string>7020596</string>
			</dict>
		</dict>
		<dict>
			<key>comment</key>
			<array/>
			<key>comment_num</key>
			<integer>0</integer>
			<key>content</key>
			<string></string>
			<key>did</key>
			<string>1345683</string>
			<key>examine</key>
			<string>yangze@hoolai.com</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/30/61/7cabd0a20723251a.jpg</string>
			<key>flags</key>
			<string>0</string>
			<key>flags2</key>
			<string>0</string>
			<key>is_deleted</key>
			<string>0</string>
			<key>level</key>
			<string>1</string>
			<key>object_id</key>
			<string></string>
			<key>operating_time</key>
			<string>2016-10-30 18:05:26</string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>report_num</key>
			<integer>1</integer>
			<key>send_time</key>
			<string>2016-10-30 18:05:26</string>
			<key>sex</key>
			<string>0</string>
			<key>type</key>
			<integer>6</integer>
			<key>uid</key>
			<string>2727478</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>2accb9d941507920</string>
				<key>birthday</key>
				<string>1917-10-02</string>
				<key>city</key>
				<string>中国</string>
				<key>is_auth</key>
				<string>1</string>
				<key>level</key>
				<string>1</string>
				<key>nickname</key>
				<string>ʚ◡̈⃝ɞ悬❣崖</string>
				<key>sex</key>
				<string>0</string>
				<key>uid</key>
				<string>2727478</string>
			</dict>
			<key>video_time</key>
			<string>00:02</string>
			<key>video_url</key>
			<string>http://images.himoca.com/dynamic/30/61/7cabd0a20723251a.mp4</string>
		</dict>
		<dict>
			<key>comment</key>
			<array/>
			<key>comment_num</key>
			<integer>0</integer>
			<key>content</key>
			<string></string>
			<key>did</key>
			<string>587f52c5d3e79_7836571</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/db/77/57037c2989bc7b8e279479a7305e8a39.jpg</string>
			<key>img_size</key>
			<string>900x1200</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string></string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>replace_content</key>
			<string></string>
			<key>send_time</key>
			<string>2017-01-18 19:34:29</string>
			<key>type</key>
			<string>2</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>e615b47d3e5f1b26</string>
				<key>birthday</key>
				<string>1980-01-01</string>
				<key>city</key>
				<string>中国</string>
				<key>is_auth</key>
				<string>0</string>
				<key>level</key>
				<integer>0</integer>
				<key>nickname</key>
				<string>哎呦哈哈不错</string>
				<key>sex</key>
				<string>1</string>
				<key>uid</key>
				<string>7836571</string>
			</dict>
		</dict>
		<dict>
			<key>comment</key>
			<array/>
			<key>comment_num</key>
			<integer>0</integer>
			<key>content</key>
			<string></string>
			<key>did</key>
			<string>587f52c0a83db_7836571</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/db/77/191eb44543dfe0ac10013f13eccde9f6.jpg</string>
			<key>img_size</key>
			<string>198x198</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string>北京市</string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>replace_content</key>
			<string></string>
			<key>send_time</key>
			<string>2017-01-18 19:34:24</string>
			<key>type</key>
			<string>2</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>e615b47d3e5f1b26</string>
				<key>birthday</key>
				<string>1980-01-01</string>
				<key>city</key>
				<string>中国</string>
				<key>is_auth</key>
				<string>0</string>
				<key>level</key>
				<integer>0</integer>
				<key>nickname</key>
				<string>哎呦哈哈不错</string>
				<key>sex</key>
				<string>1</string>
				<key>uid</key>
				<string>7836571</string>
			</dict>
		</dict>
		<dict>
			<key>comment</key>
			<array/>
			<key>comment_num</key>
			<integer>0</integer>
			<key>content</key>
			<string>活的我🙈🙈🙈</string>
			<key>did</key>
			<string>587dbcdb09101_2727478</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/30/61/6d4903f30d39d7fb1ac049a20575cead.jpg</string>
			<key>img_size</key>
			<string>640x640</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string></string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>replace_content</key>
			<string>活的我🙈🙈🙈</string>
			<key>send_time</key>
			<string>2017-01-17 14:42:35</string>
			<key>type</key>
			<string>3</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>2accb9d941507920</string>
				<key>birthday</key>
				<string>1917-10-02</string>
				<key>city</key>
				<string>中国</string>
				<key>is_auth</key>
				<string>1</string>
				<key>level</key>
				<string>1</string>
				<key>nickname</key>
				<string>ʚ◡̈⃝ɞ悬❣崖</string>
				<key>sex</key>
				<string>0</string>
				<key>uid</key>
				<string>2727478</string>
			</dict>
			<key>video_url</key>
			<string>http://images.himoca.com/dynamic/30/61/6d4903f30d39d7fb1ac049a20575cead.mp4</string>
		</dict>
	</array>
	<key>hidden_photo_rate</key>
	<string>1</string>
	<key>is_load</key>
	<true/>
	<key>user_info</key>
	<dict>
		<key>avatar</key>
		<string>e615b47d3e5f1b26</string>
		<key>background_img</key>
		<string>307369eb6632bbd2</string>
		<key>birthday</key>
		<string>1980-01-01</string>
		<key>is_auth</key>
		<string>0</string>
		<key>level</key>
		<integer>0</integer>
		<key>nickname</key>
		<string>哎呦哈哈不错</string>
		<key>noread</key>
		<dict>
			<key>noread_avatar</key>
			<string></string>
			<key>noread_num</key>
			<integer>0</integer>
			<key>noread_uid</key>
			<string></string>
		</dict>
		<key>sex</key>
		<string>1</string>
		<key>uid</key>
		<integer>7836571</integer>
	</dict>
</dict>
</plist>
