<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dynamic</key>
	<array>
		<dict>
			<key>comment</key>
			<array/>
			<key>comment_num</key>
			<integer>0</integer>
			<key>content</key>
			<string>我和熊本有个约会😐</string>
			<key>did</key>
			<string>582180d42d487_7020596</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/96/6c/fe3eb3318f81f9a89ac17e80e9bb8d49.jpg</string>
			<key>img_size</key>
			<string>868x1200</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string>河南省</string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>replace_content</key>
			<string>我和熊本有个约会😐</string>
			<key>send_time</key>
			<string>2016-11-08 15:37:56</string>
			<key>type</key>
			<string>2</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>c21c9301a04369f5</string>
				<key>birthday</key>
				<string>1921-09-13</string>
				<key>city</key>
				<string>许昌</string>
				<key>is_auth</key>
				<string>1</string>
				<key>level</key>
				<string>-1</string>
				<key>nickname</key>
				<string>不要活在梦里</string>
				<key>sex</key>
				<string>0</string>
				<key>uid</key>
				<string>7020596</string>
			</dict>
		</dict>
		<dict>
			<key>comment</key>
			<array/>
			<key>comment_num</key>
			<integer>0</integer>
			<key>content</key>
			<string>人真的是太欠揍了，心里喜欢一个人喜欢的发疯但是对方一跟你说话你又开始装酷了</string>
			<key>did</key>
			<string>581f4788d26ce_2727478</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/30/61/2c08e844d6551b9276c08e3c567c55d5.jpg</string>
			<key>img_size</key>
			<string>465x700</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string></string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>replace_content</key>
			<string>人真的是太欠揍了，心里喜欢一个人喜欢的发疯但是对方一跟你说话你又开始装酷了</string>
			<key>send_time</key>
			<string>2016-11-06 23:08:56</string>
			<key>type</key>
			<string>2</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>a3bcc77122f2890a</string>
				<key>birthday</key>
				<string>1917-10-02</string>
				<key>city</key>
				<string>中国</string>
				<key>is_auth</key>
				<string>1</string>
				<key>level</key>
				<string>1</string>
				<key>nickname</key>
				<string>悬❣崖</string>
				<key>sex</key>
				<string>0</string>
				<key>uid</key>
				<string>2727478</string>
			</dict>
		</dict>
		<dict>
			<key>comment</key>
			<array/>
			<key>comment_num</key>
			<integer>0</integer>
			<key>content</key>
			<string>打麻将又输了。今天不爱🀄了。</string>
			<key>did</key>
			<string>581f06c437ff1_4237844</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/99/a3/2f7f0cc9e1c6081e5e2b66f2baa89bbd.jpg</string>
			<key>img_size</key>
			<string>900x1200</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string>浙江温州</string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>replace_content</key>
			<string>打麻将又输了。今天不爱🀄了。</string>
			<key>send_time</key>
			<string>2016-11-06 18:32:36</string>
			<key>type</key>
			<string>2</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>f1514ff1f02e6363</string>
				<key>birthday</key>
				<string>1994-11-07</string>
				<key>city</key>
				<string>中国</string>
				<key>is_auth</key>
				<string>0</string>
				<key>level</key>
				<integer>0</integer>
				<key>nickname</key>
				<string>你看见过我的小熊吗</string>
				<key>sex</key>
				<string>0</string>
				<key>uid</key>
				<string>4237844</string>
			</dict>
		</dict>
		<dict>
			<key>comment</key>
			<array>
				<array>
					<dict>
						<key>avatar</key>
						<string>e615b47d3e5f1b26</string>
						<key>color</key>
						<string>0</string>
						<key>content</key>
						<string>哎呦哈哈不错: 身材不不饿</string>
						<key>create_time</key>
						<string>2016-11-09 16:06:16</string>
						<key>did</key>
						<string>581ded19130bb_4237844</string>
						<key>giftstatus</key>
						<string>1</string>
						<key>id</key>
						<string>223599</string>
						<key>is_auth</key>
						<string>0</string>
						<key>level</key>
						<string>0</string>
						<key>nickname</key>
						<string>哎呦哈哈不错</string>
						<key>num</key>
						<string>0</string>
						<key>to_nickname</key>
						<string>你看见过我的小熊吗</string>
						<key>to_uid</key>
						<string>4237844</string>
						<key>type</key>
						<string>2</string>
						<key>uid</key>
						<string>7836571</string>
					</dict>
				</array>
			</array>
			<key>comment_num</key>
			<integer>1</integer>
			<key>content</key>
			<string>运动回来，没麻将🀄搓的人生 跟咸鱼有什么区别？</string>
			<key>did</key>
			<string>581ded19130bb_4237844</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/99/a3/f8d2213f04541988d6c4f232336998fb.jpg,http://images.himoca.com/dynamic/99/a3/5df72575322ad357fed6fa84050ddf31.jpg</string>
			<key>img_size</key>
			<string>900x1200,900x1200</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string>浙江温州</string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>replace_content</key>
			<string>运动回来，没麻将🀄搓的人生 跟咸鱼有什么区别？</string>
			<key>send_time</key>
			<string>2016-11-05 22:30:49</string>
			<key>type</key>
			<string>2</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>f1514ff1f02e6363</string>
				<key>birthday</key>
				<string>1994-11-07</string>
				<key>city</key>
				<string>中国</string>
				<key>is_auth</key>
				<string>0</string>
				<key>level</key>
				<integer>0</integer>
				<key>nickname</key>
				<string>你看见过我的小熊吗</string>
				<key>sex</key>
				<string>0</string>
				<key>uid</key>
				<string>4237844</string>
			</dict>
		</dict>
		<dict>
			<key>comment</key>
			<array/>
			<key>comment_num</key>
			<integer>0</integer>
			<key>content</key>
			<string>讨厌你的人永远讨厌你
喜欢你的人早晚有一天会不喜欢你
虽然不会有人永远喜欢你
但是希望永远有人喜欢你。</string>
			<key>did</key>
			<string>581dcbeb30cab_2727478</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/30/61/4fac4a8e3b049bd849f2894e631c5d65.jpg</string>
			<key>img_size</key>
			<string>1200x900</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string></string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>replace_content</key>
			<string>讨厌你的人永远讨厌你
喜欢你的人早晚有一天会不喜欢你
虽然不会有人永远喜欢你
但是希望永远有人喜欢你。</string>
			<key>send_time</key>
			<string>2016-11-05 20:09:15</string>
			<key>type</key>
			<string>2</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>a3bcc77122f2890a</string>
				<key>birthday</key>
				<string>1917-10-02</string>
				<key>city</key>
				<string>中国</string>
				<key>is_auth</key>
				<string>1</string>
				<key>level</key>
				<string>1</string>
				<key>nickname</key>
				<string>悬❣崖</string>
				<key>sex</key>
				<string>0</string>
				<key>uid</key>
				<string>2727478</string>
			</dict>
		</dict>
		<dict>
			<key>comment</key>
			<array/>
			<key>comment_num</key>
			<integer>0</integer>
			<key>content</key>
			<string>兰寿香姑</string>
			<key>did</key>
			<string>581dbd829bdc8_7836571</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/db/77/d5f0d3e347f34ed38568ed0c8aabd1ff.jpg,http://images.himoca.com/dynamic/db/77/9c5bfa3c6aa7d8ee7c3f1a0d1d3b1e29.jpg</string>
			<key>img_size</key>
			<string>780x800,287x307</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string>北京市</string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>replace_content</key>
			<string>兰寿香姑</string>
			<key>send_time</key>
			<string>2016-11-05 19:07:46</string>
			<key>type</key>
			<string>2</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>e615b47d3e5f1b26</string>
				<key>birthday</key>
				<string>1980-01-01</string>
				<key>city</key>
				<string>中国</string>
				<key>is_auth</key>
				<string>0</string>
				<key>level</key>
				<integer>0</integer>
				<key>nickname</key>
				<string>哎呦哈哈不错</string>
				<key>sex</key>
				<string>1</string>
				<key>uid</key>
				<string>7836571</string>
			</dict>
		</dict>
		<dict>
			<key>comment</key>
			<array>
				<array>
					<dict>
						<key>avatar</key>
						<string>e615b47d3e5f1b26</string>
						<key>color</key>
						<string>0</string>
						<key>content</key>
						<string>哎呦哈哈不错: 18612558523</string>
						<key>create_time</key>
						<string>2016-11-05 19:08:20</string>
						<key>did</key>
						<string>581d2ab0dbda7_2727478</string>
						<key>giftstatus</key>
						<string>1</string>
						<key>id</key>
						<string>197345</string>
						<key>is_auth</key>
						<string>0</string>
						<key>level</key>
						<string>0</string>
						<key>nickname</key>
						<string>哎呦哈哈不错</string>
						<key>num</key>
						<string>0</string>
						<key>to_nickname</key>
						<string>哇。真潇洒！</string>
						<key>to_uid</key>
						<string>2727478</string>
						<key>type</key>
						<string>2</string>
						<key>uid</key>
						<string>7836571</string>
					</dict>
				</array>
				<array>
					<dict>
						<key>avatar</key>
						<string>e615b47d3e5f1b26</string>
						<key>color</key>
						<string>0</string>
						<key>content</key>
						<string>哎呦哈哈不错: 18612558523</string>
						<key>create_time</key>
						<string>2016-11-05 18:19:14</string>
						<key>did</key>
						<string>581d2ab0dbda7_2727478</string>
						<key>giftstatus</key>
						<string>1</string>
						<key>id</key>
						<string>197342</string>
						<key>is_auth</key>
						<string>0</string>
						<key>level</key>
						<string>0</string>
						<key>nickname</key>
						<string>哎呦哈哈不错</string>
						<key>num</key>
						<string>0</string>
						<key>to_nickname</key>
						<string>哇。真潇洒！</string>
						<key>to_uid</key>
						<string>2727478</string>
						<key>type</key>
						<string>2</string>
						<key>uid</key>
						<string>7836571</string>
					</dict>
				</array>
			</array>
			<key>comment_num</key>
			<integer>2</integer>
			<key>content</key>
			<string>玩了这么久，我自己都不知道自己在玩什么鬼</string>
			<key>did</key>
			<string>581d2ab0dbda7_2727478</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/30/61/567ba030e85fa2c58f9868d515257608.jpg,http://images.himoca.com/dynamic/30/61/676b95ae80498027e4257a0da404905e.jpg</string>
			<key>img_size</key>
			<string>359x359,359x359</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string></string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>replace_content</key>
			<string>玩了这么久，我自己都不知道自己在玩什么鬼</string>
			<key>send_time</key>
			<string>2016-11-05 08:41:20</string>
			<key>type</key>
			<string>2</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>a3bcc77122f2890a</string>
				<key>birthday</key>
				<string>1917-10-02</string>
				<key>city</key>
				<string>中国</string>
				<key>is_auth</key>
				<string>1</string>
				<key>level</key>
				<string>1</string>
				<key>nickname</key>
				<string>悬❣崖</string>
				<key>sex</key>
				<string>0</string>
				<key>uid</key>
				<string>2727478</string>
			</dict>
		</dict>
		<dict>
			<key>comment</key>
			<array/>
			<key>comment_num</key>
			<integer>0</integer>
			<key>content</key>
			<string>天秤座这个星座的女生可以变成你喜欢的样子，也可以是你讨厌的样子。可以在女神和女神经之间随意切换，也可以在孩子气和成熟过你妈间随意切换，区别的点就在于是否喜欢你。😏</string>
			<key>did</key>
			<string>581c84bfcb8f0_2727478</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/30/61/dcaecddbdf0338b95fa7c11e1a7dbe25.jpg</string>
			<key>img_size</key>
			<string>960x540</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string></string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>replace_content</key>
			<string>天秤座这个星座的女生可以变成你喜欢的样子，也可以是你讨厌的样子。可以在女神和女神经之间随意切换，也可以在孩子气和成熟过你妈间随意切换，区别的点就在于是否喜欢你。😏</string>
			<key>send_time</key>
			<string>2016-11-04 20:53:19</string>
			<key>type</key>
			<string>2</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>a3bcc77122f2890a</string>
				<key>birthday</key>
				<string>1917-10-02</string>
				<key>city</key>
				<string>中国</string>
				<key>is_auth</key>
				<string>1</string>
				<key>level</key>
				<string>1</string>
				<key>nickname</key>
				<string>悬❣崖</string>
				<key>sex</key>
				<string>0</string>
				<key>uid</key>
				<string>2727478</string>
			</dict>
		</dict>
		<dict>
			<key>comment</key>
			<array/>
			<key>comment_num</key>
			<integer>0</integer>
			<key>content</key>
			<string>
[玫瑰]
[玫瑰][玫瑰]
[玫瑰][玫瑰][玫瑰]
[玫瑰][玫瑰][玫瑰][玫瑰]
[玫瑰][玫瑰][玫瑰][玫瑰][玫瑰]
[玫瑰][玫瑰][玫瑰][玫瑰][玫瑰][玫瑰]
[玫瑰][玫瑰][玫瑰][玫瑰][玫瑰][玫瑰][玫瑰]
[玫瑰][玫瑰][玫瑰][玫瑰]</string>
			<key>did</key>
			<string>581c03a6450e9_7836571</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/db/77/32c4356d1b3136c949a207345e6f7181.jpg</string>
			<key>img_size</key>
			<string>240x240</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string>北京市</string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>replace_content</key>
			<string>
[玫瑰]
[玫瑰][玫瑰]
[玫瑰][玫瑰][玫瑰]
[玫瑰][玫瑰][玫瑰][玫瑰]
[玫瑰][玫瑰][玫瑰][玫瑰][玫瑰]
[玫瑰][玫瑰][玫瑰][玫瑰][玫瑰][玫瑰]
[玫瑰][玫瑰][玫瑰][玫瑰][玫瑰][玫瑰][玫瑰]
[玫瑰][玫瑰][玫瑰][玫瑰]</string>
			<key>send_time</key>
			<string>2016-11-04 11:42:30</string>
			<key>type</key>
			<string>2</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>e615b47d3e5f1b26</string>
				<key>birthday</key>
				<string>1980-01-01</string>
				<key>city</key>
				<string>中国</string>
				<key>is_auth</key>
				<string>0</string>
				<key>level</key>
				<integer>0</integer>
				<key>nickname</key>
				<string>哎呦哈哈不错</string>
				<key>sex</key>
				<string>1</string>
				<key>uid</key>
				<string>7836571</string>
			</dict>
		</dict>
		<dict>
			<key>comment</key>
			<array>
				<array>
					<dict>
						<key>avatar</key>
						<string>e615b47d3e5f1b26</string>
						<key>color</key>
						<string>0</string>
						<key>content</key>
						<string>哎呦哈哈不错: 哈哈</string>
						<key>create_time</key>
						<string>2016-11-05 19:09:58</string>
						<key>did</key>
						<string>581be4a365d62_2727478</string>
						<key>giftstatus</key>
						<string>1</string>
						<key>id</key>
						<string>197348</string>
						<key>is_auth</key>
						<string>0</string>
						<key>level</key>
						<string>0</string>
						<key>nickname</key>
						<string>哎呦哈哈不错</string>
						<key>num</key>
						<string>0</string>
						<key>to_nickname</key>
						<string>哇。真潇洒！</string>
						<key>to_uid</key>
						<string>2727478</string>
						<key>type</key>
						<string>2</string>
						<key>uid</key>
						<string>7836571</string>
					</dict>
				</array>
				<array>
					<dict>
						<key>avatar</key>
						<string>e615b47d3e5f1b26</string>
						<key>color</key>
						<string>0</string>
						<key>content</key>
						<string>哎呦哈哈不错: 听说讯飞输入法的语音识别挺准的，那么我就测试一下它到底有多准，我现在就是用讯飞输入法说的话，看看他出了多少个。</string>
						<key>create_time</key>
						<string>2016-11-05 19:09:50</string>
						<key>did</key>
						<string>581be4a365d62_2727478</string>
						<key>giftstatus</key>
						<string>1</string>
						<key>id</key>
						<string>197347</string>
						<key>is_auth</key>
						<string>0</string>
						<key>level</key>
						<string>0</string>
						<key>nickname</key>
						<string>哎呦哈哈不错</string>
						<key>num</key>
						<string>0</string>
						<key>to_nickname</key>
						<string>哇。真潇洒！</string>
						<key>to_uid</key>
						<string>2727478</string>
						<key>type</key>
						<string>2</string>
						<key>uid</key>
						<string>7836571</string>
					</dict>
				</array>
				<array>
					<dict>
						<key>avatar</key>
						<string>e615b47d3e5f1b26</string>
						<key>color</key>
						<string>0</string>
						<key>content</key>
						<string>哎呦哈哈不错: I heard iFLYTEK input method is quite accurate, so I'll try, it is more accurate, I see now is to use iFLYTEK input method to say, what is </string>
						<key>create_time</key>
						<string>2016-11-05 19:09:09</string>
						<key>did</key>
						<string>581be4a365d62_2727478</string>
						<key>giftstatus</key>
						<string>1</string>
						<key>id</key>
						<string>197346</string>
						<key>is_auth</key>
						<string>0</string>
						<key>level</key>
						<string>0</string>
						<key>nickname</key>
						<string>哎呦哈哈不错</string>
						<key>num</key>
						<string>0</string>
						<key>to_nickname</key>
						<string>哇。真潇洒！</string>
						<key>to_uid</key>
						<string>2727478</string>
						<key>type</key>
						<string>2</string>
						<key>uid</key>
						<string>7836571</string>
					</dict>
				</array>
			</array>
			<key>comment_num</key>
			<integer>3</integer>
			<key>content</key>
			<string>如果钱能买到快乐，别亏欠自己。

多买一点。我赞同。

早了个安啊。
</string>
			<key>did</key>
			<string>581be4a365d62_2727478</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/30/61/622cd10043ea75bc18d0f97c40edd2ee.jpg</string>
			<key>img_size</key>
			<string>750x750</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string></string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>replace_content</key>
			<string>如果钱能买到快乐，别亏欠自己。

多买一点。我赞同。

早了个安啊。
</string>
			<key>send_time</key>
			<string>2016-11-04 09:30:11</string>
			<key>type</key>
			<string>2</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>a3bcc77122f2890a</string>
				<key>birthday</key>
				<string>1917-10-02</string>
				<key>city</key>
				<string>中国</string>
				<key>is_auth</key>
				<string>1</string>
				<key>level</key>
				<string>1</string>
				<key>nickname</key>
				<string>悬❣崖</string>
				<key>sex</key>
				<string>0</string>
				<key>uid</key>
				<string>2727478</string>
			</dict>
		</dict>
	</array>
	<key>hidden_photo_rate</key>
	<string>1</string>
	<key>is_load</key>
	<true/>
	<key>user_info</key>
	<dict>
		<key>avatar</key>
		<string>e615b47d3e5f1b26</string>
		<key>background_img</key>
		<string>307369eb6632bbd2</string>
		<key>birthday</key>
		<string>1980-01-01</string>
		<key>is_auth</key>
		<string>0</string>
		<key>level</key>
		<integer>0</integer>
		<key>nickname</key>
		<string>哎呦哈哈不错</string>
		<key>noread</key>
		<dict>
			<key>noread_avatar</key>
			<string></string>
			<key>noread_num</key>
			<integer>0</integer>
			<key>noread_uid</key>
			<string></string>
		</dict>
		<key>sex</key>
		<string>1</string>
		<key>uid</key>
		<integer>7836571</integer>
	</dict>
</dict>
</plist>
