<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dynamic</key>
	<array>
		<dict>
			<key>comment</key>
			<array/>
			<key>comment_num</key>
			<integer>0</integer>
			<key>content</key>
			<string>圣诞🎅????快乐
心存感恩  懂得珍惜 ❤
做一个永远快乐并带给别人快乐的人☺️
</string>
			<key>did</key>
			<string>585fd61f88a88_2727478</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/30/61/27f1a976bb3cae9858d9d77043eb3cda.jpg</string>
			<key>img_size</key>
			<string>674x1200</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string></string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>replace_content</key>
			<string>圣诞🎅????快乐
心存感恩  懂得珍惜 ❤
做一个永远快乐并带给别人快乐的人☺️
</string>
			<key>send_time</key>
			<string>2016-12-25 22:22:23</string>
			<key>type</key>
			<string>2</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>2accb9d941507920</string>
				<key>birthday</key>
				<string>1917-10-02</string>
				<key>city</key>
				<string>中国</string>
				<key>is_auth</key>
				<string>1</string>
				<key>level</key>
				<string>1</string>
				<key>nickname</key>
				<string>ʚ◡̈⃝ɞ悬❣崖</string>
				<key>sex</key>
				<string>0</string>
				<key>uid</key>
				<string>2727478</string>
			</dict>
		</dict>
		<dict>
			<key>comment</key>
			<array/>
			<key>comment_num</key>
			<integer>0</integer>
			<key>content</key>
			<string>平安夜快乐，我的🍎呢</string>
			<key>did</key>
			<string>585e739436545_7020596</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/96/6c/5cba7b9952e0b8a38ff4c74084aed999.jpg,http://images.himoca.com/dynamic/96/6c/51e1a582c759120c170edcb0d75b51ce.jpg,http://images.himoca.com/dynamic/96/6c/a210d2d3d5ee3324aefb8190aad09d51.jpg</string>
			<key>img_size</key>
			<string>674x1200,674x1200,674x1200</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string>河南省</string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>replace_content</key>
			<string>平安夜快乐，我的🍎呢</string>
			<key>send_time</key>
			<string>2016-12-24 21:09:40</string>
			<key>type</key>
			<string>2</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>5ffba949fbb22f87</string>
				<key>birthday</key>
				<string>1921-09-13</string>
				<key>city</key>
				<string>许昌</string>
				<key>is_auth</key>
				<string>1</string>
				<key>level</key>
				<string>-1</string>
				<key>nickname</key>
				<string>不要活在梦里</string>
				<key>sex</key>
				<string>0</string>
				<key>uid</key>
				<string>7020596</string>
			</dict>
		</dict>
		<dict>
			<key>comment</key>
			<array/>
			<key>comment_num</key>
			<integer>0</integer>
			<key>content</key>
			<string>长发及腰之时</string>
			<key>did</key>
			<string>585bf7a43c7e2_7020596</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/96/6c/fd42e07f4c2ac594771c0f3e2bbee324.jpg,http://images.himoca.com/dynamic/96/6c/a29cc4210cdf4b410580719af8c3cd29.jpg,http://images.himoca.com/dynamic/96/6c/8da0b2544f3b620d53d990b101e7a4b7.jpg</string>
			<key>img_size</key>
			<string>674x1200,480x640,480x640</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string>河南省</string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>replace_content</key>
			<string>长发及腰之时</string>
			<key>send_time</key>
			<string>2016-12-22 23:56:20</string>
			<key>type</key>
			<string>2</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>5ffba949fbb22f87</string>
				<key>birthday</key>
				<string>1921-09-13</string>
				<key>city</key>
				<string>许昌</string>
				<key>is_auth</key>
				<string>1</string>
				<key>level</key>
				<string>-1</string>
				<key>nickname</key>
				<string>不要活在梦里</string>
				<key>sex</key>
				<string>0</string>
				<key>uid</key>
				<string>7020596</string>
			</dict>
		</dict>
		<dict>
			<key>comment</key>
			<array/>
			<key>comment_num</key>
			<integer>0</integer>
			<key>content</key>
			<string>通知：
1，苹果用户更新摩擦版本之后，可以继续每天分享领花。

2，摩擦年度活动即将上线，敬请期待。
</string>
			<key>did</key>
			<string>585a18e0cdaca_1000213</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/d0/1c/32815712710ea7de4a5f65c7d5b1f160.jpg</string>
			<key>img_size</key>
			<string>640x540</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string>北京</string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>replace_content</key>
			<string>通知：
1，苹果用户更新摩擦版本之后，可以继续每天分享领花。

2，摩擦年度活动即将上线，敬请期待。
</string>
			<key>send_time</key>
			<string>2016-12-21 13:53:36</string>
			<key>type</key>
			<string>2</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>69214130edf19a75</string>
				<key>birthday</key>
				<string>2013-10-09</string>
				<key>city</key>
				<string>北京</string>
				<key>is_auth</key>
				<string>0</string>
				<key>level</key>
				<string>1</string>
				<key>nickname</key>
				<string>摩擦小秘书</string>
				<key>sex</key>
				<string>0</string>
				<key>uid</key>
				<string>1000213</string>
			</dict>
		</dict>
		<dict>
			<key>comment</key>
			<array/>
			<key>comment_num</key>
			<integer>0</integer>
			<key>content</key>
			<string>一天很短
开心就笑(≖‿≖)✧
不开心就过一会儿再笑(｡◕ˇ∀ˇ◕)</string>
			<key>did</key>
			<string>5858b9f8b78df_2727478</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/30/61/cb4c6f99b5a05bb7bff1bb28816c9189.jpg</string>
			<key>img_size</key>
			<string>900x1200</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string></string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>replace_content</key>
			<string>一天很短
开心就笑(≖‿≖)✧
不开心就过一会儿再笑(｡◕ˇ∀ˇ◕)</string>
			<key>send_time</key>
			<string>2016-12-20 12:56:24</string>
			<key>type</key>
			<string>2</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>2accb9d941507920</string>
				<key>birthday</key>
				<string>1917-10-02</string>
				<key>city</key>
				<string>中国</string>
				<key>is_auth</key>
				<string>1</string>
				<key>level</key>
				<string>1</string>
				<key>nickname</key>
				<string>ʚ◡̈⃝ɞ悬❣崖</string>
				<key>sex</key>
				<string>0</string>
				<key>uid</key>
				<string>2727478</string>
			</dict>
		</dict>
		<dict>
			<key>comment</key>
			<array/>
			<key>comment_num</key>
			<integer>0</integer>
			<key>content</key>
			<string>瑜伽</string>
			<key>did</key>
			<string>5858a0178d831_7862271</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/79/dc/234571854c705aebd128e4c95dbf6ff2.jpg,http://images.himoca.com/dynamic/79/dc/d4bf19f249711238842024d7c0537581.jpg,http://images.himoca.com/dynamic/79/dc/c1da2dc0142bf931bf5a7577f5e82234.jpg</string>
			<key>img_size</key>
			<string>900x1200,900x1200,1200x900</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string>北京市</string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>replace_content</key>
			<string>瑜伽</string>
			<key>send_time</key>
			<string>2016-12-20 11:05:59</string>
			<key>type</key>
			<string>2</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>29e18c11cf21ecf4</string>
				<key>birthday</key>
				<string>1993-03-11</string>
				<key>city</key>
				<string>中国</string>
				<key>is_auth</key>
				<string>0</string>
				<key>level</key>
				<string>-1</string>
				<key>nickname</key>
				<string>静谧</string>
				<key>sex</key>
				<string>0</string>
				<key>uid</key>
				<string>7862271</string>
			</dict>
		</dict>
		<dict>
			<key>comment</key>
			<array/>
			<key>comment_num</key>
			<integer>0</integer>
			<key>content</key>
			<string>😋😋</string>
			<key>did</key>
			<string>58589fbf0f5fe_7862271</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/79/dc/5815c9c5a397051bb4a7428b2bf6681e.jpg</string>
			<key>img_size</key>
			<string>900x1200</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string>北京市</string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>replace_content</key>
			<string>😋😋</string>
			<key>send_time</key>
			<string>2016-12-20 11:04:31</string>
			<key>type</key>
			<string>2</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>29e18c11cf21ecf4</string>
				<key>birthday</key>
				<string>1993-03-11</string>
				<key>city</key>
				<string>中国</string>
				<key>is_auth</key>
				<string>0</string>
				<key>level</key>
				<string>-1</string>
				<key>nickname</key>
				<string>静谧</string>
				<key>sex</key>
				<string>0</string>
				<key>uid</key>
				<string>7862271</string>
			</dict>
		</dict>
		<dict>
			<key>comment</key>
			<array/>
			<key>comment_num</key>
			<integer>0</integer>
			<key>content</key>
			<string>提前一周多送来的圣诞礼物🎁
厉害了word老司机(•ૢ⚈͒⌄⚈͒•ૢ)
</string>
			<key>did</key>
			<string>585391ab93f46_2727478</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/30/61/9ecb22f2a692a96cbc6885f524fc3529.jpg,http://images.himoca.com/dynamic/30/61/b9b496317a57734090136d7d3947815c.jpg</string>
			<key>img_size</key>
			<string>900x1200,900x1200</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string></string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>replace_content</key>
			<string>提前一周多送来的圣诞礼物🎁
厉害了word老司机(•ૢ⚈͒⌄⚈͒•ૢ)
</string>
			<key>send_time</key>
			<string>2016-12-16 15:03:07</string>
			<key>type</key>
			<string>2</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>2accb9d941507920</string>
				<key>birthday</key>
				<string>1917-10-02</string>
				<key>city</key>
				<string>中国</string>
				<key>is_auth</key>
				<string>1</string>
				<key>level</key>
				<string>1</string>
				<key>nickname</key>
				<string>ʚ◡̈⃝ɞ悬❣崖</string>
				<key>sex</key>
				<string>0</string>
				<key>uid</key>
				<string>2727478</string>
			</dict>
		</dict>
		<dict>
			<key>comment</key>
			<array/>
			<key>comment_num</key>
			<integer>0</integer>
			<key>content</key>
			<string>无意间看到电脑以前自己照片
才发现岁月果然是把猪饲料🙈
越长大越残经典代表人 没有之一🙈</string>
			<key>did</key>
			<string>58534d08ccc85_2727478</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/30/61/c4119e62df0e26e571e0488921d5d6bb.jpg,http://images.himoca.com/dynamic/30/61/0d4e7908bdef1ac56f34bc8b4a6f8bf6.jpg</string>
			<key>img_size</key>
			<string>900x1200,900x1200</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string></string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>replace_content</key>
			<string>无意间看到电脑以前自己照片
才发现岁月果然是把猪饲料🙈
越长大越残经典代表人 没有之一🙈</string>
			<key>send_time</key>
			<string>2016-12-16 10:10:16</string>
			<key>type</key>
			<string>2</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>2accb9d941507920</string>
				<key>birthday</key>
				<string>1917-10-02</string>
				<key>city</key>
				<string>中国</string>
				<key>is_auth</key>
				<string>1</string>
				<key>level</key>
				<string>1</string>
				<key>nickname</key>
				<string>ʚ◡̈⃝ɞ悬❣崖</string>
				<key>sex</key>
				<string>0</string>
				<key>uid</key>
				<string>2727478</string>
			</dict>
		</dict>
		<dict>
			<key>comment</key>
			<array/>
			<key>comment_num</key>
			<integer>0</integer>
			<key>content</key>
			<string> rose only(•ૢ⚈͒⌄⚈͒•ૢ)
</string>
			<key>did</key>
			<string>5851486e4cddc_2727478</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/30/61/079efe27802a037ebb4ad103ea74bd1e.jpg,http://images.himoca.com/dynamic/30/61/a185986159dd666b023d978b71b4f94c.jpg</string>
			<key>img_size</key>
			<string>640x1136,675x1200</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string></string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>replace_content</key>
			<string> rose only(•ૢ⚈͒⌄⚈͒•ૢ)
</string>
			<key>send_time</key>
			<string>2016-12-14 21:26:06</string>
			<key>type</key>
			<string>2</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>2accb9d941507920</string>
				<key>birthday</key>
				<string>1917-10-02</string>
				<key>city</key>
				<string>中国</string>
				<key>is_auth</key>
				<string>1</string>
				<key>level</key>
				<string>1</string>
				<key>nickname</key>
				<string>ʚ◡̈⃝ɞ悬❣崖</string>
				<key>sex</key>
				<string>0</string>
				<key>uid</key>
				<string>2727478</string>
			</dict>
		</dict>
	</array>
	<key>hidden_photo_rate</key>
	<string>1</string>
	<key>is_load</key>
	<true/>
	<key>user_info</key>
	<dict>
		<key>avatar</key>
		<string>e615b47d3e5f1b26</string>
		<key>background_img</key>
		<string>307369eb6632bbd2</string>
		<key>birthday</key>
		<string>1980-01-01</string>
		<key>is_auth</key>
		<string>0</string>
		<key>level</key>
		<integer>0</integer>
		<key>nickname</key>
		<string>哎呦哈哈不错</string>
		<key>noread</key>
		<dict>
			<key>noread_avatar</key>
			<string></string>
			<key>noread_num</key>
			<integer>0</integer>
			<key>noread_uid</key>
			<string></string>
		</dict>
		<key>sex</key>
		<string>1</string>
		<key>uid</key>
		<integer>7836571</integer>
	</dict>
</dict>
</plist>
