<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dynamic</key>
	<array>
		<dict>
			<key>comment</key>
			<array/>
			<key>comment_num</key>
			<integer>0</integer>
			<key>content</key>
			<string></string>
			<key>did</key>
			<string>58748cc02ed61_7836571</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/db/77/8ff5d944f5dc08a6db4dc883d39f1b77.jpg</string>
			<key>img_size</key>
			<string>720x480</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string>北京市</string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>replace_content</key>
			<string></string>
			<key>send_time</key>
			<string>2017-01-10 15:26:56</string>
			<key>type</key>
			<string>2</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>e615b47d3e5f1b26</string>
				<key>birthday</key>
				<string>1980-01-01</string>
				<key>city</key>
				<string>中国</string>
				<key>is_auth</key>
				<string>0</string>
				<key>level</key>
				<integer>0</integer>
				<key>nickname</key>
				<string>哎呦哈哈不错</string>
				<key>sex</key>
				<string>1</string>
				<key>uid</key>
				<string>7836571</string>
			</dict>
		</dict>
		<dict>
			<key>comment</key>
			<array/>
			<key>comment_num</key>
			<integer>0</integer>
			<key>content</key>
			<string></string>
			<key>did</key>
			<string>58748ca0aa078_7836571</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/db/77/2c304154d13f24d7221a6f33c4e9fe01.jpg</string>
			<key>img_size</key>
			<string>560x560</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string>北京市</string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>replace_content</key>
			<string></string>
			<key>send_time</key>
			<string>2017-01-10 15:26:24</string>
			<key>type</key>
			<string>2</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>e615b47d3e5f1b26</string>
				<key>birthday</key>
				<string>1980-01-01</string>
				<key>city</key>
				<string>中国</string>
				<key>is_auth</key>
				<string>0</string>
				<key>level</key>
				<integer>0</integer>
				<key>nickname</key>
				<string>哎呦哈哈不错</string>
				<key>sex</key>
				<string>1</string>
				<key>uid</key>
				<string>7836571</string>
			</dict>
		</dict>
		<dict>
			<key>comment</key>
			<array/>
			<key>comment_num</key>
			<integer>0</integer>
			<key>content</key>
			<string></string>
			<key>did</key>
			<string>58748c93d2069_7836571</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/db/77/f4820c6dbe61ba7bb70bece8def1ca09.jpg</string>
			<key>img_size</key>
			<string>1200x1087</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string>北京市</string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>replace_content</key>
			<string></string>
			<key>send_time</key>
			<string>2017-01-10 15:26:11</string>
			<key>type</key>
			<string>2</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>e615b47d3e5f1b26</string>
				<key>birthday</key>
				<string>1980-01-01</string>
				<key>city</key>
				<string>中国</string>
				<key>is_auth</key>
				<string>0</string>
				<key>level</key>
				<integer>0</integer>
				<key>nickname</key>
				<string>哎呦哈哈不错</string>
				<key>sex</key>
				<string>1</string>
				<key>uid</key>
				<string>7836571</string>
			</dict>
		</dict>
		<dict>
			<key>comment</key>
			<array/>
			<key>comment_num</key>
			<integer>0</integer>
			<key>content</key>
			<string></string>
			<key>did</key>
			<string>58748a6255d61_7836571</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/db/77/9b89a78d7515064bed846750271d34d1.jpg</string>
			<key>img_size</key>
			<string>640x854</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string>北京市</string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>replace_content</key>
			<string></string>
			<key>send_time</key>
			<string>2017-01-10 15:16:50</string>
			<key>type</key>
			<string>2</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>e615b47d3e5f1b26</string>
				<key>birthday</key>
				<string>1980-01-01</string>
				<key>city</key>
				<string>中国</string>
				<key>is_auth</key>
				<string>0</string>
				<key>level</key>
				<integer>0</integer>
				<key>nickname</key>
				<string>哎呦哈哈不错</string>
				<key>sex</key>
				<string>1</string>
				<key>uid</key>
				<string>7836571</string>
			</dict>
		</dict>
		<dict>
			<key>comment</key>
			<array/>
			<key>comment_num</key>
			<integer>0</integer>
			<key>content</key>
			<string>之前有宝宝反映说，网络连接不给力，经常出现“未连接”的情况，甚至个别用户不能正常聊天。

所以我们讨论之后，一狠心一咬牙重金升级了服务器，导致这段时间的视频认证和动态不能正常使用。

所以这种情况是正常的。这周完成升级之后，基本以后不会出现这类问题了。请宝宝们耐心等待。😭😭</string>
			<key>did</key>
			<string>5873c5ce5a8a6_1000213</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/d0/1c/a16d2a99e2a1df4bb7005c1d1e31ed0c.jpg</string>
			<key>img_size</key>
			<string>674x1200</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string>北京</string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>replace_content</key>
			<string>之前有宝宝反映说，网络连接不给力，经常出现“未连接”的情况，甚至个别用户不能正常聊天。

所以我们讨论之后，一狠心一咬牙重金升级了服务器，导致这段时间的视频认证和动态不能正常使用。

所以这种情况是正常的。这周完成升级之后，基本以后不会出现这类问题了。请宝宝们耐心等待。😭😭</string>
			<key>send_time</key>
			<string>2017-01-10 01:18:06</string>
			<key>type</key>
			<string>2</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>69214130edf19a75</string>
				<key>birthday</key>
				<string>2013-10-09</string>
				<key>city</key>
				<string>北京</string>
				<key>is_auth</key>
				<string>0</string>
				<key>level</key>
				<string>1</string>
				<key>nickname</key>
				<string>摩擦小秘书</string>
				<key>sex</key>
				<string>0</string>
				<key>uid</key>
				<string>1000213</string>
			</dict>
		</dict>
		<dict>
			<key>comment</key>
			<array/>
			<key>comment_num</key>
			<integer>0</integer>
			<key>content</key>
			<string>摩擦有朋友跟我说，“有时候觉得摩擦挺浪漫。喜欢一个人的话，可以连钱都不用花，每天免费领花，每天送一朵。”

这句话真的有感动到我。

当然也有朋友问，那每天送很多花的呢？我觉得这个问题就不用回答了，那特么肯定是因为特别爱你啊！

新年快乐。祝每一对有情人都能在这里修成正果。💑</string>
			<key>did</key>
			<string>587359b06b11d_1000213</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/d0/1c/9f1be647a6b8fa22881669736c8f5f98.jpg</string>
			<key>img_size</key>
			<string>675x383</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string>北京</string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>replace_content</key>
			<string>摩擦有朋友跟我说，“有时候觉得摩擦挺浪漫。喜欢一个人的话，可以连钱都不用花，每天免费领花，每天送一朵。”

这句话真的有感动到我。

当然也有朋友问，那每天送很多花的呢？我觉得这个问题就不用回答了，那特么肯定是因为特别爱你啊！

新年快乐。祝每一对有情人都能在这里修成正果。💑</string>
			<key>send_time</key>
			<string>2017-01-09 17:36:48</string>
			<key>type</key>
			<string>2</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>69214130edf19a75</string>
				<key>birthday</key>
				<string>2013-10-09</string>
				<key>city</key>
				<string>北京</string>
				<key>is_auth</key>
				<string>0</string>
				<key>level</key>
				<string>1</string>
				<key>nickname</key>
				<string>摩擦小秘书</string>
				<key>sex</key>
				<string>0</string>
				<key>uid</key>
				<string>1000213</string>
			</dict>
		</dict>
		<dict>
			<key>comment</key>
			<array/>
			<key>comment_num</key>
			<integer>0</integer>
			<key>content</key>
			<string>🐥✨🐣✨
这世上比我美的姑娘很多，比我有才情的姑娘也很多，比我贤惠的姑娘还是很多，可这并不令我沮丧，因为我比从前的自己好了很多。
羡慕从不盲目，知足也知火候！</string>
			<key>did</key>
			<string>586f5f03a97e1_2727478</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/30/61/ab9eec30f4171498b41093eb1219afc1.jpg</string>
			<key>img_size</key>
			<string>900x1200</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string></string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>replace_content</key>
			<string>🐥✨🐣✨
这世上比我美的姑娘很多，比我有才情的姑娘也很多，比我贤惠的姑娘还是很多，可这并不令我沮丧，因为我比从前的自己好了很多。
羡慕从不盲目，知足也知火候！</string>
			<key>send_time</key>
			<string>2017-01-06 17:10:27</string>
			<key>type</key>
			<string>2</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>2accb9d941507920</string>
				<key>birthday</key>
				<string>1917-10-02</string>
				<key>city</key>
				<string>中国</string>
				<key>is_auth</key>
				<string>1</string>
				<key>level</key>
				<string>1</string>
				<key>nickname</key>
				<string>ʚ◡̈⃝ɞ悬❣崖</string>
				<key>sex</key>
				<string>0</string>
				<key>uid</key>
				<string>2727478</string>
			</dict>
		</dict>
		<dict>
			<key>comment</key>
			<array/>
			<key>comment_num</key>
			<integer>0</integer>
			<key>content</key>
			<string>你踏马哒
果然不爱我了 😂😂😂😂</string>
			<key>did</key>
			<string>586d94a5cfbb2_2727478</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/30/61/e8aa6af7319ca5da297d44bd0150e0a1.jpg</string>
			<key>img_size</key>
			<string>440x934</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string></string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>replace_content</key>
			<string>你踏马哒
果然不爱我了 😂😂😂😂</string>
			<key>send_time</key>
			<string>2017-01-05 08:34:45</string>
			<key>type</key>
			<string>2</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>2accb9d941507920</string>
				<key>birthday</key>
				<string>1917-10-02</string>
				<key>city</key>
				<string>中国</string>
				<key>is_auth</key>
				<string>1</string>
				<key>level</key>
				<string>1</string>
				<key>nickname</key>
				<string>ʚ◡̈⃝ɞ悬❣崖</string>
				<key>sex</key>
				<string>0</string>
				<key>uid</key>
				<string>2727478</string>
			</dict>
		</dict>
		<dict>
			<key>comment</key>
			<array/>
			<key>comment_num</key>
			<integer>0</integer>
			<key>content</key>
			<string>你这么酷一定很孤单吧</string>
			<key>did</key>
			<string>586d130e51974_7020596</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/96/6c/a75a35a1228e4bc72554fd2d8c51a7c3.jpg</string>
			<key>img_size</key>
			<string>870x1200</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string>河南省</string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>replace_content</key>
			<string>你这么酷一定很孤单吧</string>
			<key>send_time</key>
			<string>2017-01-04 23:21:50</string>
			<key>type</key>
			<string>2</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>5ffba949fbb22f87</string>
				<key>birthday</key>
				<string>1921-09-13</string>
				<key>city</key>
				<string>许昌</string>
				<key>is_auth</key>
				<string>1</string>
				<key>level</key>
				<string>-1</string>
				<key>nickname</key>
				<string>不要活在梦里</string>
				<key>sex</key>
				<string>0</string>
				<key>uid</key>
				<string>7020596</string>
			</dict>
		</dict>
		<dict>
			<key>comment</key>
			<array/>
			<key>comment_num</key>
			<integer>0</integer>
			<key>content</key>
			<string>2016年度摩擦女王活动至此结束，恭喜这三位美女获得前三名的桂冠。٩(๑ᵒ̴̶̷͈᷄ᗨᵒ̴̶̷͈᷅)و  二三名的奖励会在明晚发放。第一名的奖品，要看顺丰有多快了୧(﹒︠ᴗ﹒︡)୨</string>
			<key>did</key>
			<string>586bd01a1e5ee_1000213</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/d0/1c/a34931d31b069d9506744c908ff3cb78.jpg</string>
			<key>img_size</key>
			<string>674x1200</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string>北京</string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>replace_content</key>
			<string>2016年度摩擦女王活动至此结束，恭喜这三位美女获得前三名的桂冠。٩(๑ᵒ̴̶̷͈᷄ᗨᵒ̴̶̷͈᷅)و  二三名的奖励会在明晚发放。第一名的奖品，要看顺丰有多快了୧(﹒︠ᴗ﹒︡)୨</string>
			<key>send_time</key>
			<string>2017-01-04 00:23:54</string>
			<key>type</key>
			<string>2</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>69214130edf19a75</string>
				<key>birthday</key>
				<string>2013-10-09</string>
				<key>city</key>
				<string>北京</string>
				<key>is_auth</key>
				<string>0</string>
				<key>level</key>
				<string>1</string>
				<key>nickname</key>
				<string>摩擦小秘书</string>
				<key>sex</key>
				<string>0</string>
				<key>uid</key>
				<string>1000213</string>
			</dict>
		</dict>
	</array>
	<key>hidden_photo_rate</key>
	<string>1</string>
	<key>is_load</key>
	<true/>
	<key>user_info</key>
	<dict>
		<key>avatar</key>
		<string>e615b47d3e5f1b26</string>
		<key>background_img</key>
		<string>307369eb6632bbd2</string>
		<key>birthday</key>
		<string>1980-01-01</string>
		<key>is_auth</key>
		<string>0</string>
		<key>level</key>
		<integer>0</integer>
		<key>nickname</key>
		<string>哎呦哈哈不错</string>
		<key>noread</key>
		<dict>
			<key>noread_avatar</key>
			<string></string>
			<key>noread_num</key>
			<integer>0</integer>
			<key>noread_uid</key>
			<string></string>
		</dict>
		<key>sex</key>
		<string>1</string>
		<key>uid</key>
		<integer>7836571</integer>
	</dict>
</dict>
</plist>
