<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dynamic</key>
	<array>
		<dict>
			<key>comment_num</key>
			<integer>18</integer>
			<key>comment</key>
			<array>
				<array>
					<dict>
						<key>avatar</key>
						<string>e615b47d3e5f1b26</string>
						<key>color</key>
						<string>0</string>
						<key>content</key>
						<string>哎呦哈哈不错: kk</string>
						<key>create_time</key>
						<string>2016-11-14 13:40:59</string>
						<key>did</key>
						<string>5824053fb104e_7836571</string>
						<key>giftstatus</key>
						<string>1</string>
						<key>id</key>
						<string>209715</string>
						<key>is_auth</key>
						<string>0</string>
						<key>level</key>
						<string>0</string>
						<key>nickname</key>
						<string>哎呦哈哈不错</string>
						<key>num</key>
						<string>0</string>
						<key>to_nickname</key>
						<string>哎呦哈哈不错</string>
						<key>to_uid</key>
						<string>7836571</string>
						<key>type</key>
						<string>2</string>
						<key>uid</key>
						<string>7836571</string>
					</dict>
				</array>
				<array>
					<dict>
						<key>avatar</key>
						<string>e615b47d3e5f1b26</string>
						<key>color</key>
						<string>0</string>
						<key>content</key>
						<string>哎呦哈哈不错回复极致海阔天空飞: 图同学考虑一下体验中心医院图替我太累了看看兔兔我土象星座提醒我一下他现在</string>
						<key>create_time</key>
						<string>2016-11-10 20:38:39</string>
						<key>did</key>
						<string>5824053fb104e_7836571</string>
						<key>giftstatus</key>
						<string>1</string>
						<key>id</key>
						<string>209567</string>
						<key>is_auth</key>
						<string>0</string>
						<key>level</key>
						<string>0</string>
						<key>nickname</key>
						<string>哎呦哈哈不错</string>
						<key>num</key>
						<string>0</string>
						<key>to_nickname</key>
						<string>极致海阔天空飞</string>
						<key>to_uid</key>
						<string>1000215</string>
						<key>type</key>
						<string>2</string>
						<key>uid</key>
						<string>7836571</string>
					</dict>
				</array>
				<array>
					<dict>
						<key>avatar</key>
						<string>e615b47d3e5f1b26</string>
						<key>color</key>
						<string>0</string>
						<key>content</key>
						<string>哎呦哈哈不错回复极致: 工</string>
						<key>create_time</key>
						<string>2016-11-10 18:31:48</string>
						<key>did</key>
						<string>5824053fb104e_7836571</string>
						<key>giftstatus</key>
						<string>1</string>
						<key>id</key>
						<string>209561</string>
						<key>is_auth</key>
						<string>0</string>
						<key>level</key>
						<string>0</string>
						<key>nickname</key>
						<string>哎呦哈哈不错</string>
						<key>num</key>
						<string>0</string>
						<key>to_nickname</key>
						<string>极致</string>
						<key>to_uid</key>
						<string>1000215</string>
						<key>type</key>
						<string>2</string>
						<key>uid</key>
						<string>7836571</string>
					</dict>
				</array>
				<array>
					<dict>
						<key>avatar</key>
						<string>e615b47d3e5f1b26</string>
						<key>color</key>
						<string>0</string>
						<key>content</key>
						<string>哎呦哈哈不错: 立体字</string>
						<key>create_time</key>
						<string>2016-11-10 18:31:46</string>
						<key>did</key>
						<string>5824053fb104e_7836571</string>
						<key>giftstatus</key>
						<string>1</string>
						<key>id</key>
						<string>209560</string>
						<key>is_auth</key>
						<string>0</string>
						<key>level</key>
						<string>0</string>
						<key>nickname</key>
						<string>哎呦哈哈不错</string>
						<key>num</key>
						<string>0</string>
						<key>to_nickname</key>
						<string>哎呦哈哈不错</string>
						<key>to_uid</key>
						<string>7836571</string>
						<key>type</key>
						<string>2</string>
						<key>uid</key>
						<string>7836571</string>
					</dict>
				</array>
				<array>
					<dict>
						<key>avatar</key>
						<string>e615b47d3e5f1b26</string>
						<key>color</key>
						<string>0</string>
						<key>content</key>
						<string>哎呦哈哈不错: 嘻嘻嘻嘻[坏笑][微笑][酷][财迷][酷]</string>
						<key>create_time</key>
						<string>2016-11-10 18:31:41</string>
						<key>did</key>
						<string>5824053fb104e_7836571</string>
						<key>giftstatus</key>
						<string>1</string>
						<key>id</key>
						<string>209559</string>
						<key>is_auth</key>
						<string>0</string>
						<key>level</key>
						<string>0</string>
						<key>nickname</key>
						<string>哎呦哈哈不错</string>
						<key>num</key>
						<string>0</string>
						<key>to_nickname</key>
						<string>哎呦哈哈不错</string>
						<key>to_uid</key>
						<string>7836571</string>
						<key>type</key>
						<string>2</string>
						<key>uid</key>
						<string>7836571</string>
					</dict>
				</array>
			</array>
			<key>content</key>
			<string>“世界上最糟糕的事情之一 这是我的 网址 www.baidu.com
是觉得自己配不上喜欢的那个人 
就像彼此站在下雨的屋檐 
你不能上前说一句“一起走吧” 
因为你连伞都没有” ​​​​</string>
			<key>did</key>
			<string>589697bfd6a31_2727478</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/30/61/cd97b5e1e3757764ba942be520465709.jpg</string>
			<key>img_size</key>
			<string>690x690</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string></string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>replace_content</key>
			<string>“世界上最糟糕的事情之一 
是觉得自己配不上喜欢的那个人 
就像彼此站在下雨的屋檐 
你不能上前说一句“一起走吧” 
因为你连伞都没有” ​​​​</string>
			<key>send_time</key>
			<string>2017-02-05 11:10:55</string>
			<key>type</key>
			<string>2</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>2accb9d941507920</string>
				<key>birthday</key>
				<string>1917-10-02</string>
				<key>city</key>
				<string>中国</string>
				<key>is_auth</key>
				<string>1</string>
				<key>level</key>
				<string>1</string>
				<key>nickname</key>
				<string>ʚ◡̈⃝ɞ悬❣崖</string>
				<key>sex</key>
				<string>0</string>
				<key>uid</key>
				<string>2727478</string>
			</dict>
		</dict>
		<dict>
			<key>comment_num</key>
			<integer>1</integer>
			<key>comment</key>
			<array>
				<array>
					<dict>
						<key>avatar</key>
						<string>e615b47d3e5f1b26</string>
						<key>color</key>
						<string>0</string>
						<key>content</key>
						<string>哎呦哈哈不错: 没有谁了</string>
						<key>create_time</key>
						<string>2016-11-10 13:25:54</string>
						<key>did</key>
						<string>5822560db0c0d_7020596</string>
						<key>giftstatus</key>
						<string>1</string>
						<key>id</key>
						<string>217300</string>
						<key>is_auth</key>
						<string>0</string>
						<key>level</key>
						<string>0</string>
						<key>nickname</key>
						<string>哎呦哈哈不错</string>
						<key>num</key>
						<string>0</string>
						<key>to_nickname</key>
						<string>超烦大师.</string>
						<key>to_uid</key>
						<string>7020596</string>
						<key>type</key>
						<string>2</string>
						<key>uid</key>
						<string>7836571</string>
					</dict>
				</array>
			</array>
			<key>content</key>
			<string>₊˚‧(づσ̴̶̷̥́ ₃σ̴̶̷̀)づ·˚</string>
			<key>did</key>
			<string>5895db952a473_2727478</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/30/61/808b911af9576418efe5a471d8f7ae2e.jpg</string>
			<key>img_size</key>
			<string>1222x460</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string></string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>replace_content</key>
			<string>₊˚‧(づσ̴̶̷̥́ ₃σ̴̶̷̀)づ·˚</string>
			<key>send_time</key>
			<string>2017-02-04 21:48:05</string>
			<key>type</key>
			<string>2</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>2accb9d941507920</string>
				<key>birthday</key>
				<string>1917-10-02</string>
				<key>city</key>
				<string>中国</string>
				<key>is_auth</key>
				<string>1</string>
				<key>level</key>
				<string>1</string>
				<key>nickname</key>
				<string>ʚ◡̈⃝ɞ悬❣崖</string>
				<key>sex</key>
				<string>0</string>
				<key>uid</key>
				<string>2727478</string>
			</dict>
		</dict>
		<dict>
			<key>comment_num</key>
			<integer>1</integer>
			<key>comment</key>
			<array>
				<array>
					<dict>
						<key>avatar</key>
						<string>e615b47d3e5f1b26</string>
						<key>color</key>
						<string>0</string>
						<key>content</key>
						<string>哎呦哈哈不错: 曾经有一段感情我想对</string>
						<key>create_time</key>
						<string>2017-02-21 12:52:06</string>
						<key>did</key>
						<string>58a87fa6cf969_7020596</string>
						<key>giftstatus</key>
						<string>1</string>
						<key>id</key>
						<string>221312</string>
						<key>is_auth</key>
						<string>0</string>
						<key>level</key>
						<string>0</string>
						<key>nickname</key>
						<string>哎呦哈哈不错</string>
						<key>num</key>
						<string>0</string>
						<key>to_nickname</key>
						<string>不要活在梦里</string>
						<key>to_uid</key>
						<string>7020596</string>
						<key>type</key>
						<string>2</string>
						<key>uid</key>
						<string>7836571</string>
					</dict>
				</array>
			</array>
			<key>content</key>
			<string>没关系的，毕竟这是个打字不需要负责的年代啊 这是我的电话 18613364551, 有高亮哦</string>
			<key>did</key>
			<string>589335fa3c346_7020596</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/96/6c/b34c49c4df71895ee4e8ef93df25574b.jpg,http://images.himoca.com/dynamic/96/6c/5c9cfeda773002e4347d0287015030f6.jpg,http://images.himoca.com/dynamic/96/6c/75309ab952a33ed418cd18b47b14bada.jpg</string>
			<key>img_size</key>
			<string>900x1200,900x1200,900x1200</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string>河南省</string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>replace_content</key>
			<string>没关系的，毕竟这是个打字不需要负责的年代啊</string>
			<key>send_time</key>
			<string>2017-02-02 21:36:58</string>
			<key>type</key>
			<string>2</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>5ffba949fbb22f87</string>
				<key>birthday</key>
				<string>1921-09-13</string>
				<key>city</key>
				<string>许昌</string>
				<key>is_auth</key>
				<string>1</string>
				<key>level</key>
				<string>-1</string>
				<key>nickname</key>
				<string>不要活在梦里</string>
				<key>sex</key>
				<string>0</string>
				<key>uid</key>
				<string>7020596</string>
			</dict>
		</dict>
		<dict>
			<key>comment_num</key>
			<integer>1</integer>
			<key>comment</key>
			<array>
				<array>
					<dict>
						<key>avatar</key>
						<string>e615b47d3e5f1b26</string>
						<key>color</key>
						<string>0</string>
						<key>content</key>
						<string>哎呦哈哈不错: 真的假的呢</string>
						<key>create_time</key>
						<string>2017-02-21 12:51:40</string>
						<key>did</key>
						<string>58aa35a52693c_7782100</string>
						<key>giftstatus</key>
						<string>1</string>
						<key>id</key>
						<string>231388</string>
						<key>is_auth</key>
						<string>0</string>
						<key>level</key>
						<string>0</string>
						<key>nickname</key>
						<string>哎呦哈哈不错</string>
						<key>num</key>
						<string>0</string>
						<key>to_nickname</key>
						<string>静静</string>
						<key>to_uid</key>
						<string>7782100</string>
						<key>type</key>
						<string>2</string>
						<key>uid</key>
						<string>7836571</string>
					</dict>
				</array>
			</array>
			<key>content</key>
			<string>😒消息我是不回的，别打我</string>
			<key>did</key>
			<string>588f6078c62be_8648655</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/61/b4/5138198d5e0f5881e0f52dd626e926d71485791353960.jpg</string>
			<key>img_size</key>
			<string>540x960</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string>阜阳市</string>
			<key>praise_num</key>
			<integer>1</integer>
			<key>praise</key>
			<array>
				<dict>
					<key>avatar</key>
					<string>e615b47d3e5f1b26</string>
					<key>birthday</key>
					<string>1980-01-01</string>
					<key>create_time</key>
					<string>2017-02-21 13:59:22</string>
					<key>id</key>
					<string>0</string>
					<key>is_auth</key>
					<string>0</string>
					<key>last_dynamic</key>
					<string></string>
					<key>nickname</key>
					<string>哎呦哈哈不错</string>
					<key>sex</key>
					<string>1</string>
					<key>uid</key>
					<string>7836571</string>
				</dict>
			</array>
			<key>replace_content</key>
			<string>😒消息我是不回的，别打我</string>
			<key>send_time</key>
			<string>2017-01-30 23:49:12</string>
			<key>type</key>
			<string>2</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>03762c4ac6f76fbf</string>
				<key>birthday</key>
				<string>1991-01-01</string>
				<key>city</key>
				<string>中国</string>
				<key>is_auth</key>
				<string>0</string>
				<key>level</key>
				<integer>0</integer>
				<key>nickname</key>
				<string>潮水</string>
				<key>sex</key>
				<string>0</string>
				<key>uid</key>
				<string>8648655</string>
			</dict>
		</dict>
		<dict>
			<key>comment_num</key>
			<integer>9</integer>
			<key>comment</key>
			<array>
				<array>
					<dict>
						<key>avatar</key>
						<string>e615b47d3e5f1b26</string>
						<key>color</key>
						<string>0</string>
						<key>content</key>
						<string>哎呦哈哈不错回复极致: 彼此</string>
						<key>create_time</key>
						<string>2016-11-14 22:34:38</string>
						<key>did</key>
						<string>5829315c1fb9c_7836571</string>
						<key>giftstatus</key>
						<string>1</string>
						<key>id</key>
						<string>209733</string>
						<key>is_auth</key>
						<string>0</string>
						<key>level</key>
						<string>0</string>
						<key>nickname</key>
						<string>哎呦哈哈不错</string>
						<key>num</key>
						<string>0</string>
						<key>to_nickname</key>
						<string>极致</string>
						<key>to_uid</key>
						<string>1000215</string>
						<key>type</key>
						<string>2</string>
						<key>uid</key>
						<string>7836571</string>
					</dict>
				</array>
				<array>
					<dict>
						<key>avatar</key>
						<string>e615b47d3e5f1b26</string>
						<key>color</key>
						<string>0</string>
						<key>content</key>
						<string>哎呦哈哈不错: 明</string>
						<key>create_time</key>
						<string>2016-11-14 22:34:32</string>
						<key>did</key>
						<string>5829315c1fb9c_7836571</string>
						<key>giftstatus</key>
						<string>1</string>
						<key>id</key>
						<string>209732</string>
						<key>is_auth</key>
						<string>0</string>
						<key>level</key>
						<string>0</string>
						<key>nickname</key>
						<string>哎呦哈哈不错</string>
						<key>num</key>
						<string>0</string>
						<key>to_nickname</key>
						<string>哎呦哈哈不错</string>
						<key>to_uid</key>
						<string>7836571</string>
						<key>type</key>
						<string>2</string>
						<key>uid</key>
						<string>7836571</string>
					</dict>
				</array>
				<array>
					<dict>
						<key>avatar</key>
						<string>e615b47d3e5f1b26</string>
						<key>color</key>
						<string>0</string>
						<key>content</key>
						<string>哎呦哈哈不错: 无聊无聊无聊</string>
						<key>create_time</key>
						<string>2016-11-14 22:34:09</string>
						<key>did</key>
						<string>5829315c1fb9c_7836571</string>
						<key>giftstatus</key>
						<string>1</string>
						<key>id</key>
						<string>209731</string>
						<key>is_auth</key>
						<string>0</string>
						<key>level</key>
						<string>0</string>
						<key>nickname</key>
						<string>哎呦哈哈不错</string>
						<key>num</key>
						<string>0</string>
						<key>to_nickname</key>
						<string>哎呦哈哈不错</string>
						<key>to_uid</key>
						<string>7836571</string>
						<key>type</key>
						<string>2</string>
						<key>uid</key>
						<string>7836571</string>
					</dict>
				</array>
				<array>
					<dict>
						<key>avatar</key>
						<string>e615b47d3e5f1b26</string>
						<key>color</key>
						<string>0</string>
						<key>content</key>
						<string>哎呦哈哈不错: 嘻嘻</string>
						<key>create_time</key>
						<string>2016-11-14 22:34:04</string>
						<key>did</key>
						<string>5829315c1fb9c_7836571</string>
						<key>giftstatus</key>
						<string>1</string>
						<key>id</key>
						<string>209730</string>
						<key>is_auth</key>
						<string>0</string>
						<key>level</key>
						<string>0</string>
						<key>nickname</key>
						<string>哎呦哈哈不错</string>
						<key>num</key>
						<string>0</string>
						<key>to_nickname</key>
						<string>哎呦哈哈不错</string>
						<key>to_uid</key>
						<string>7836571</string>
						<key>type</key>
						<string>2</string>
						<key>uid</key>
						<string>7836571</string>
					</dict>
				</array>
				<array>
					<dict>
						<key>avatar</key>
						<string>e615b47d3e5f1b26</string>
						<key>color</key>
						<string>0</string>
						<key>content</key>
						<string>哎呦哈哈不错: 您咯</string>
						<key>create_time</key>
						<string>2016-11-14 22:34:02</string>
						<key>did</key>
						<string>5829315c1fb9c_7836571</string>
						<key>giftstatus</key>
						<string>1</string>
						<key>id</key>
						<string>209729</string>
						<key>is_auth</key>
						<string>0</string>
						<key>level</key>
						<string>0</string>
						<key>nickname</key>
						<string>哎呦哈哈不错</string>
						<key>num</key>
						<string>0</string>
						<key>to_nickname</key>
						<string>哎呦哈哈不错</string>
						<key>to_uid</key>
						<string>7836571</string>
						<key>type</key>
						<string>2</string>
						<key>uid</key>
						<string>7836571</string>
					</dict>
				</array>
			</array>
			<key>content</key>
			<string>事实证明，跟送不送花没关系，那些不是vip的朋友真的不能愉快的聊天！</string>
			<key>did</key>
			<string>588f5b7222cea_2727478</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/30/61/c7cc356710281521d1db14d9df9c7fa4.jpg,http://images.himoca.com/dynamic/30/61/3fda1f761e9d6646c4ade5935404db84.jpg,http://images.himoca.com/dynamic/30/61/f64870e0e012dd452f1c033f0a893566.jpg</string>
			<key>img_size</key>
			<string>440x440,440x440,440x440</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string></string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>replace_content</key>
			<string>事实证明，跟送不送花没关系，那些不是vip的朋友真的不能愉快的聊天！</string>
			<key>send_time</key>
			<string>2017-01-30 23:27:46</string>
			<key>type</key>
			<string>2</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>2accb9d941507920</string>
				<key>birthday</key>
				<string>1917-10-02</string>
				<key>city</key>
				<string>中国</string>
				<key>is_auth</key>
				<string>1</string>
				<key>level</key>
				<string>1</string>
				<key>nickname</key>
				<string>ʚ◡̈⃝ɞ悬❣崖</string>
				<key>sex</key>
				<string>0</string>
				<key>uid</key>
				<string>2727478</string>
			</dict>
		</dict>
		<dict>
			<key>comment</key>
			<array/>
			<key>comment_num</key>
			<integer>0</integer>
			<key>content</key>
			<string></string>
			<key>did</key>
			<string>588f0e7b11087_4237844</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/99/a3/0e4d156811535339f4693aa10fbe75f2.jpg,http://images.himoca.com/dynamic/99/a3/116f564b7e6f90f8ef49702c100fd58f.jpg</string>
			<key>img_size</key>
			<string>800x800,900x1200</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string>Zhejiang</string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>replace_content</key>
			<string></string>
			<key>send_time</key>
			<string>2017-01-30 17:59:23</string>
			<key>type</key>
			<string>2</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>f1514ff1f02e6363</string>
				<key>birthday</key>
				<string>1994-11-07</string>
				<key>city</key>
				<string>中国</string>
				<key>is_auth</key>
				<string>0</string>
				<key>level</key>
				<integer>0</integer>
				<key>nickname</key>
				<string>你看见过我的小熊吗</string>
				<key>sex</key>
				<string>0</string>
				<key>uid</key>
				<string>4237844</string>
			</dict>
		</dict>
		<dict>
			<key>comment</key>
			<array/>
			<key>comment_num</key>
			<integer>0</integer>
			<key>content</key>
			<string>不知道经历了什么变成了单眼皮😂</string>
			<key>did</key>
			<string>588e3a5b1b711_7020596</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/96/6c/74824e65afcd7eea3b53e523cfac3192.jpg,http://images.himoca.com/dynamic/96/6c/ab7f895607063b5daf12d50ac2032132.jpg,http://images.himoca.com/dynamic/96/6c/124fc7af5ae7b03ff9641d6211746d9c.jpg</string>
			<key>img_size</key>
			<string>900x1200,900x1200,900x1200</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string>河南省</string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>replace_content</key>
			<string>不知道经历了什么变成了单眼皮😂</string>
			<key>send_time</key>
			<string>2017-01-30 02:54:19</string>
			<key>type</key>
			<string>2</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>5ffba949fbb22f87</string>
				<key>birthday</key>
				<string>1921-09-13</string>
				<key>city</key>
				<string>许昌</string>
				<key>is_auth</key>
				<string>1</string>
				<key>level</key>
				<string>-1</string>
				<key>nickname</key>
				<string>不要活在梦里</string>
				<key>sex</key>
				<string>0</string>
				<key>uid</key>
				<string>7020596</string>
			</dict>
		</dict>
		<dict>
			<key>comment</key>
			<array/>
			<key>comment_num</key>
			<integer>0</integer>
			<key>content</key>
			<string>来自e网屯的新春祝福视频
😂😂😂</string>
			<key>did</key>
			<string>588c86d112cca_2727478</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/30/61/a23109ee7ae5b46584e7f84273cea879.jpg</string>
			<key>img_size</key>
			<string>640x640</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string></string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>replace_content</key>
			<string>来自e网屯的新春祝福视频
😂😂😂</string>
			<key>send_time</key>
			<string>2017-01-28 19:56:01</string>
			<key>type</key>
			<string>3</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>2accb9d941507920</string>
				<key>birthday</key>
				<string>1917-10-02</string>
				<key>city</key>
				<string>中国</string>
				<key>is_auth</key>
				<string>1</string>
				<key>level</key>
				<string>1</string>
				<key>nickname</key>
				<string>ʚ◡̈⃝ɞ悬❣崖</string>
				<key>sex</key>
				<string>0</string>
				<key>uid</key>
				<string>2727478</string>
			</dict>
			<key>video_url</key>
			<string>http://images.himoca.com/dynamic/30/61/a23109ee7ae5b46584e7f84273cea879.mp4</string>
		</dict>
		<dict>
			<key>comment</key>
			<array/>
			<key>comment_num</key>
			<integer>0</integer>
			<key>content</key>
			<string>新年快乐～🐔年大吉～</string>
			<key>did</key>
			<string>588be3015eda2_7782100</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/98/90/6096b7c7013c7423c09d0158daf1a181.jpg</string>
			<key>img_size</key>
			<string>856x1200</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string>山东省</string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>replace_content</key>
			<string>新年快乐～🐔年大吉～</string>
			<key>send_time</key>
			<string>2017-01-28 08:17:05</string>
			<key>type</key>
			<string>2</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>7ae11bdb2ee53f0e</string>
				<key>birthday</key>
				<string>2006-01-01</string>
				<key>city</key>
				<string>中国</string>
				<key>is_auth</key>
				<string>1</string>
				<key>level</key>
				<string>1</string>
				<key>nickname</key>
				<string>静静</string>
				<key>sex</key>
				<string>0</string>
				<key>uid</key>
				<string>7782100</string>
			</dict>
		</dict>
		<dict>
			<key>comment</key>
			<array/>
			<key>comment_num</key>
			<integer>0</integer>
			<key>content</key>
			<string>新年快乐祝你快乐你会找到更好的</string>
			<key>did</key>
			<string>588a1c3fdaf7c_7020596</string>
			<key>file_name</key>
			<string>http://images.himoca.com/dynamic/96/6c/f7e9dbd226d0281e7451ac8bf5008df8.jpg,http://images.himoca.com/dynamic/96/6c/f02117b77b8a954df4cb09e2ce347f52.jpg,http://images.himoca.com/dynamic/96/6c/7f16d678488c87d369f11bff032f7f88.jpg</string>
			<key>img_size</key>
			<string>900x1200,900x1200,900x1200</string>
			<key>level</key>
			<integer>0</integer>
			<key>location</key>
			<string>河南省</string>
			<key>praise</key>
			<array/>
			<key>praise_num</key>
			<integer>0</integer>
			<key>replace_content</key>
			<string>新年快乐祝你快乐你会找到更好的</string>
			<key>send_time</key>
			<string>2017-01-26 23:56:47</string>
			<key>type</key>
			<string>2</string>
			<key>user_info</key>
			<dict>
				<key>avatar</key>
				<string>5ffba949fbb22f87</string>
				<key>birthday</key>
				<string>1921-09-13</string>
				<key>city</key>
				<string>许昌</string>
				<key>is_auth</key>
				<string>1</string>
				<key>level</key>
				<string>-1</string>
				<key>nickname</key>
				<string>不要活在梦里</string>
				<key>sex</key>
				<string>0</string>
				<key>uid</key>
				<string>7020596</string>
			</dict>
		</dict>
	</array>
	<key>hidden_photo_rate</key>
	<string>1</string>
	<key>is_load</key>
	<true/>
	<key>user_info</key>
	<dict>
		<key>avatar</key>
		<string>e615b47d3e5f1b26</string>
		<key>background_img</key>
		<string>307369eb6632bbd2</string>
		<key>birthday</key>
		<string>1980-01-01</string>
		<key>is_auth</key>
		<string>0</string>
		<key>level</key>
		<integer>0</integer>
		<key>nickname</key>
		<string>哎呦哈哈不错</string>
		<key>noread</key>
		<dict>
			<key>noread_avatar</key>
			<string></string>
			<key>noread_num</key>
			<integer>0</integer>
			<key>noread_uid</key>
			<string></string>
		</dict>
		<key>sex</key>
		<string>1</string>
		<key>uid</key>
		<integer>7836571</integer>
	</dict>
</dict>
</plist>
